<!DOCTYPE html>
@using greenEnergy.ViewModel;
@{
    greenEnergy.ViewModel.getsectionLayoutVM layoutmodel = @ViewBag.layoutModel;
    getlayoutPartVM menuPart = layoutmodel.LayoutParts.SingleOrDefault(x => x.title.ToLower() == "menu");
}
<html lang="en">

<head>
    <title>Dylan | Responsive Multi-Purpose HTML Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="/webAssets/NAGHAVI/css/bundle.css">
    <link rel="stylesheet" href="/webAssets/NAGHAVI/css/hody-icons.css">
    <link rel="stylesheet" href="/webAssets/NAGHAVI/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Tangerine:400" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/font.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    <script type="text/javascript" src="/webAssets/NAGHAVI/js/jquery.js"></script>
    <link href="~/webAssets/NAGHAVI/css/rtlCustom.css" rel="stylesheet" />
    @RenderSection("heading", required: false)
    <style>
        .childButton, .editButton, .removeButton, .priorityButton {
            width: 25px;
            height: 25px;
            margin: 5px;
        }

        .controllerButtons {
            display: flex;
            justify-content: center;
            background-color: white;
            padding: 5px;
            width: 100%
        }

        .controllerButtonsRight {
            margin: 0 10px;
            background-color: #eee;
            border-radius: 8px;
            padding: 8px
        }

        .close {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>

    @if (Request.Cookies["adminToken"] != null)
    {
        <div class="modal addMenuDataModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="direction:rtl">
                        <h5 class="modal-title">ویرایش</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" action="/panel/setLayoutPartData" enctype="multipart/form-data" style="direction:rtl; padding:20px">
                        @Html.AntiForgeryToken()
                        <input hidden name="layoutPartID" value="@menuPart.layoutPartID" />
                        <input hidden name="pageurl" value="@ViewBag.url" />
                        <input hidden name="fromHome" value="1" />
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:none">
                            <label class="form-label-title col-sm-12 mb-0">Title:</label>
                            <div class="col-sm-10">
                                <input value=" " required type="text" id="" name="title" class="form-control col-md-7 col-xs-12">

                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:none">
                            <label class="form-label-title col-sm-12 mb-0">Section Type:</label>
                            <div class="col-sm-10">

                                <select name="dataType" class="form-control">
                                    <option value="headerMenu">headerMenu</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title col-sm-12 mb-0">یو ار ال:</label>
                            <div class="col-sm-10">
                                <input type="text" id="" name="url" class="form-control col-md-7 col-xs-12">

                            </div>
                        </div>

                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title col-sm-12 mb-0">یو ار ال تایتل:</label>
                            <div class="col-sm-10">
                                <input required type="text" id="" name="urlTitle" class="form-control col-md-7 col-xs-12">

                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title col-sm-12 mb-0">اولویت:</label>
                            <div class="col-sm-10">
                                <input type="text" id="" name="priority" class="form-control col-md-7 col-xs-12">

                            </div>
                        </div>


                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title col-sm-12 mb-0">پرنت:</label>
                            <div class="col-sm-10">

                                @Html.DropDownList("parentID", new SelectList(menuPart.LayoutDatas, "layoutDataID", "urlTitle"), "select parent", new { @class = "form-control", name = "parentID" })

                            </div>
                        </div>

                        <div class="col-lg-6 mb-4 row align-items-center" style="display:none">
                            <label class="form-label-title col-sm-12 mb-0">image  :</label>
                            <div class="col-sm-10">
                                <input type="file" id="" name="image" class="form-control col-md-7 col-xs-12">

                            </div>
                        </div>


                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <div id="NewList" class="col-sm-10" style="   margin-top: 20px;">
                                <button type="submit" class="btn btn-primary lgnsubmitt">تایید </button>
                            </div>
                        </div>

                    </form>




                </div>
            </div>
        </div>
        <div class="modal removeMenuDataModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="direction:rtl">
                        <h5 class="modal-title">ویرایش</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/panel/removeLayoutpartData" method="post" enctype="multipart/form-data" style="direction:rtl;padding:25px">
                        @Html.AntiForgeryToken()
                        <input hidden name="layoutPartID" value="@menuPart.layoutPartID" />
                        <input hidden name="pageurl" value="@ViewBag.url" />
                        <input hidden name="fromHome" value="1" />
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">

                            <div class="col-sm-10">

                                @Html.DropDownList("layoutDataID", new SelectList(menuPart.LayoutDatas, "layoutDataID", "urlTitle"), "انتخاب آیتم", new { @class = "form-control", name = "parentID" })

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn ripple btn-primary" type="submit">تایید</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    }

    <!-- Preloader-->
    <div id="loader">
        <div class="centrize">
            <div class="v-center">
                <div id="mask">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader-->
    <!-- Navigation Bar-->
    <header id="topnav" style="position:relative; background-color:black">
        <div class="container">
            <!-- Logo container-->
            <div class="logo">
                <a href="index.html">
                    <img class="logo-light" src="/webAssets/NAGHAVI/images/logo_light.png" alt="">
                    <img class="logo-dark" src="/webAssets/NAGHAVI/images/logo_dark.png" alt="">
                </a>
            </div>
            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <div class="open-search-form">
                        <a href="#">
                            <i class="hc-search"></i>
                        </a>
                    </div>
                </div>
                <div class="menu-item toggle-nav">
                    <!-- Mobile menu toggle-->
                    <a class="menu-toggle" href="#">
                        <div class="toggle-inner"></div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
            <div id="navigation">
                <ul class="navigation-menu nav">
                    @if (Request.Cookies["adminToken"] != null)
                    {
                        <li class="">
                            <img src="~/Images/plus-w.png" class="addMenuData"/>
                    @*<i style="color:white" class="fa fa-plus "></i>*@
                        </li>
                        <li class="">
                            <img src="~/Images/minus-w.png" class="removeMenuData" />
                            @*<i style="color:white" class="fa fa-minus removeMenuData"></i>*@
                        </li>
                    }
                    @{

                        foreach (var item in menuPart.LayoutDatas.Where(x => x.parentID == null).OrderByDescending(x => x.priority))
                        {

                            List<getlayoutDataVM> firstChilds = menuPart.LayoutDatas.Where(x => x.parentID == item.layoutDataID).OrderBy(x => x.priority).ToList();
                            String dropdown = firstChilds.Count() > 0 ? "menu-item-has-children" : "";

                            <li class="@dropdown">

                                @if (firstChilds.Count() > 0)
                                {
                                    <a>
                                        <span> @item.urlTitle</span>
                                       
                                    </a>
                                    <ul class="sub-menu">
                                        @foreach (var secitem in firstChilds)
                                        {
                                            <li><a href="news.html"><span>@secitem.urlTitle</span> </a></li>
                                        }


                                    </ul>

                                }

                                else
                                {
                                    string furl = item.url == null ? "/" : item.url;
                                    <a href="@furl">
                                        <span> @item.urlTitle</span>
                                       
                                    </a>
                                }

                            </li>

                        }
                    }
                   
                </ul>
            </div>
        </div>
    </header>
    <!-- End Navigation Bar-->
    @RenderBody()

    <div id="search-modal">
        <div class="centrize">
            <div class="v-center">
                <div class="container">
                    <div class="search-form">
                        <!-- Search Form-->
                        <form class="searchform">
                            <div class="input-group">
                                <input class="form-control" type="search" data-required="required" name="s" placeholder="Search..." value=""><span class="input-group-btn">
                                    <button class="btn btn-color" type="submit">
                                        <span><i class="hc-search"></i></span>
                                    </button>
                                </span>
                            </div>
                        </form>
                        <!-- End Search Form-->
                    </div>
                </div>
            </div>
        </div>
        <a id="close-search-modal" href="#">
            <i class="hc-close"></i>
        </a>
    </div>
    <div class="go-top">
        <a href="#top">
            <i class="hc-angle-up"></i>
        </a>
    </div>
    <script type="text/javascript" src="/webAssets/NAGHAVI/js/jquery.js"></script>
    <script type="text/javascript" src="/webAssets/NAGHAVI/js/bundle.js"></script>
    <script type="text/javascript" src="/webAssets/NAGHAVI/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNGOsBBZo9vf0Tw4w6aJiilSTFVfQ5GPI"></script>
    <script type="text/javascript" src="/webAssets/NAGHAVI/js/main.js"></script>
    @RenderSection("scripts", required: false)
    <script>
            $(".close").click(function(){
              $(this).closest('.modal').modal('toggle');
            })

            $(".addMenuData").click(function(){

              $(".addMenuDataModal").modal('toggle');
            })
            $(".removeMenuData").click(function(){

              $(".removeMenuDataModal").modal('toggle');
            })

            $(".childButton").click(function(){

              $(this).parent().parent().find(".childButtonModal").modal('toggle');
            })
            $(".editButton").click(function(){

              $(this).parent().parent().find(".editButtonModal").modal('toggle');
            })
            $(".removeButton").click(function(){

              $(this).parent().parent().find(".removeButtonModal").modal('toggle');
            })
            $(".priorityButton").click(function(){

              $(this).parent().parent().find(".priorityButtonModal").modal('toggle');
            })
        $(".submitForm").click(function(){
             var form = new FormData();
           $(this).parent().find('input').each(function(){



                 if ($(this).attr('type') === 'file')
                    {
                      var image = $(this)[0].files[0];
                      form.append('image', image);
                    }
                 else
                    {
                      var value = $(this).val();
                      var name = $(this).attr('name');
                      form.append(name, value);
                    }

           })
            $.ajax({
                    url: '/panel/setDataFromHome',
                    data: form,
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success:function(response) {
                        alert("با موفقیت انجام شد");
                    }
                });
        })
    </script>
</body>

</html>


