@model greenEnergy.ViewModel.pageSectionVM


@{
    ViewBag.Title = Model.title;
    Layout = "~/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/" + @ViewBag.layout;
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";

}


@if (Model.contentListVM != null)
{
    <div class="modal fade" id="itemPlus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">افزودن آیتم جدید</h5>

                </div>
                <div class="modal-body">
                    <div>
                        <form method="post" action="/panel/setContnet" style="direction:rtl">

                            @Html.AntiForgeryToken()

                            <input hidden name="url" value="@Model.url" />
                            <input hidden name="fromHome" value="1" />
                            <input hidden name="contentParent" value="@Model.Contents.First().conentID" />
                            <input hidden name="sectionID" value="@Model.sectionID" />
                            <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                <label class="form-label-title ">اولویت:</label>
                                <div class="col-sm-10">
                                    <input required type="text" id="seachQuery" name="priority" class="form-control ">
                                </div>
                            </div>
                            @*<div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                    <label class="form-label-title ">Use Page Data:</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" id="selfUsed" name="selfUsed" class=" ">
                                    </div>
                                </div>*@
                            <div class="col-lg-6 mb-4 row align-items-center" style="display:none">
                                <label class="form-label-title ">عنوان :</label>
                                <div class="col-sm-10">
                                    <input value=" " required type="text" id="seachQuery" name="title" class="form-control ">
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4 row align-items-center" style="display:none">
                                <label class="form-label-title ">توضیحات:</label>
                                <div class="col-sm-10">
                                    <input value=" " type="text" id="descr" name="description" class="form-control ">
                                </div>
                            </div>

                            <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                <label class="form-label-title col-sm-6 mb-0">تولید دیتا از پیچ با تایپ  :</label>
                                <div class="col-sm-10">
                                    @Html.DropDownList("typeID", new SelectList(Model.contentListVM.typeList, "typeID", "title"), "choose one", new { @class = "form-control", name = "typeID" })
                                </div>
                            </div>
                            @*<div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                    <label class="form-label-title col-sm-6 mb-0">Mirror View  :</label>
                                    <div class="col-sm-10">
                                        @Html.DropDownList("mirrorID", new SelectList(Model.allContents, "contentID", "title"), "choose one", new { @class = "form-control", name = "mirrorID" })
                                    </div>
                                </div>*@

                            <div class="col-lg-12 mb-12 row align-items-center" style="display:inline-block">
                                <label class="form-label-title col-sm-12 col-lg-12 mb-0">انتخاب المان:</label>
                                <div class="col-sm-10" style="background-color:#eee; border-radius:15px; padding:0">




                                    <div class="container text-center my-3" style="padding:0">
                                        <div class="row mx-auto my-auto justify-content-center">
                                            <div id="recipeCarousel" class="carousel slide" data-interval="false">
                                                <div class="carousel-inner" role="listbox">
                                                    @foreach (var item in Model.contentListVM.htmlList)
                                                    {
                                                        string active = "active";
                                                        string ischecked = "checked";
                                                        if (Model.contentListVM.htmlList.IndexOf(item) != 0)
                                                        {
                                                            active = "";
                                                            ischecked = "";
                                                        }

                                                        <div class="carousel-item @active">
                                                            <div class="col-md-3">
                                                                <div class="card htmlcard" style="">
                                                                    @*<div class="card-img">
                                                                        <img src="~/Images/@System.Configuration.ConfigurationManager.AppSettings["name"]/Uploads/@item.image" class="img-fluid">
                                                                    </div>*@
                                                                    <div urltogo="~/Images/@System.Configuration.ConfigurationManager.AppSettings["name"]/Uploads/@item.image" class="" style="border:none">@item.htmlName</div>
                                                                </div>
                                                                <input @ischecked type="radio" value="@item.htmlID" name="htmlID" />
                                                            </div>
                                                        </div>

                                                    }


                                                </div>
                                                <a class="carousel-control-prev bg-transparent w-aut carascontrol" href="#recipeCarousel" role="button" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                </a>
                                                <a class="carousel-control-next bg-transparent w-aut carascontrol" href="#recipeCarousel" role="button" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                                let items = document.querySelectorAll(".carousel .carousel-item");

                                                items.forEach((el) => {
                                                    const minPerSlide = 4;
                                                    let next = el.nextElementSibling;
                                                    for (var i = 1; i < minPerSlide; i++) {
                                                        if (!next) {
                                                            // wrap carousel by using first child
                                                            next = items[0];
                                                        }
                                                        let cloneChild = next.cloneNode(true);
                                                        el.appendChild(cloneChild.children[0]);
                                                        next = next.nextElementSibling;
                                                    }
                                                });

                                                $(".card-img-overlay").click(function () {
                                                    var url = $(this).attr('urltogo');

                                                    $(".bigone").attr("src", url)
                                                    $(".bigparent").show();

                                                })
                                                $(".removebid").click(function () {
                                                    $(".bigparent").hide();
                                                })
                                    </script>
                                    <style>
                                        .carascontrol {
                                            background-color: #ddd !important;
                                        }

                                        .carousel-control-prev {
                                            border-radius: 15px 0px 0px 15px;
                                            width: 5% !important;
                                        }

                                        .carousel-control-next {
                                            border-radius: 0 15px 15px 0;
                                            width: 5% !important;
                                        }

                                        .htmlcard {
                                            background-color: #eee
                                        }



                                        @@media (max-width: 767px) {
                                            .carousel-inner .carousel-item > div {
                                                display: none;
                                            }

                                                .carousel-inner .carousel-item > div:first-child {
                                                    display: block;
                                                }
                                        }

                                        .carousel-inner .carousel-item.active,
                                        .carousel-inner .carousel-item-next,
                                        .carousel-inner .carousel-item-prev {
                                            display: flex;
                                        }

                                        /* medium and up screens */
                                        @@media (min-width: 768px) {
                                            .carousel-inner .carousel-item-end.active,
                                            .carousel-inner .carousel-item-next {
                                                transform: translateX(25%);
                                            }

                                            .carousel-inner .carousel-item-start.active,
                                            .carousel-inner .carousel-item-prev {
                                                transform: translateX(-25%);
                                            }
                                        }

                                        .carousel-inner .carousel-item-end,
                                        .carousel-inner .carousel-item-start {
                                            transform: translateX(0);
                                        }
                                    </style>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-4 row align-items-center" style="display: inline-block ">
                                <div id="NewList" class="col-sm-10" style="   margin-top: 20px;">
                                    <button type="submit" class="btn btn-primary lgnsubmitt">تایید </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="pagePlus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">افزودن صفحه جدید</h5>

                </div>
                <div class="modal-body">
                    <form style="direction:rtl" method="post" action="/panel/setPageFromHome" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()

                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title ">عنوان:</label>
                            <div class="col-sm-10">
                                <input required type="text" id="seachQuery" name="title" class="form-control ">

                            </div>
                        </div>
                        @*<div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                <label class="form-label-title ">Button Text:</label>
                                <div class="col-sm-10">
                                    <input required type="text" id="seachQuery" name="buttonText" class="form-control ">

                                </div>
                            </div>*@
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title ">توضیحات:</label>
                            <div class="col-sm-10">
                                <input required type="text" id="seachQuery" name="description" class="form-control ">

                            </div>
                        </div>

                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title ">یوارال:</label>
                            <div class="col-sm-10">
                                <input type="text" id="" name="url" class="form-control ">

                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title ">متا تایتل:</label>
                            <div class="col-sm-10">
                                <input required type="text" id="" name="metaTitle" class="form-control ">

                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title ">انتخاب قالب:</label>
                            <div class="col-sm-10">

                                @Html.DropDownList("sectionLayoutID", new SelectList(Model.layoutList.layoutObjectLists, "sectionLayoutID", "menuTitle"), new { @class = "form-control", name = "sectionLayoutID" })


                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title ">زبان:</label>
                            <div class="col-sm-10">

                                @Html.DropDownList("languateID", new SelectList(Model.layoutList.langauageList, "languageID", "title"), new { @class = "form-control", name = "languateID" })


                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title ">نوع صفحه:</label>
                            <div class="col-sm-10">

                                @Html.DropDownList("sectinoTypeID", new SelectList(Model.contentListVM.typeList, "typeID", "title"), new { @class = "form-control", name = "sectionLayoutID" })


                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title ">طبقه بندی  صفحه  :</label>
                            <div class="col-sm-10">

                                @Html.DropDownList("categoryID", new SelectList(Model.catTypeList.list, "categoryID", "title"), new { @class = "form-control", name = "categoryID" })


                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title ">برچسب های صفحه  :</label>
                            <div class="col-sm-10">

                                @Html.ListBox("secTagID", new SelectList(Model.tagTypeList.typelist, "typeID", "title"), new { @class = "form-control", name = "secTagID" })


                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title ">کپی از صفحه حاضر  :</label>
                            <div class="col-sm-10">
                                <input type="checkbox" id="seachQuery" name="isCopy" class=" ">
                            </div>
                            <input name="mirrorID" value="@Model.Contents.First().conentID" hidden />
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title ">تصویر  :</label>
                            <div class="col-sm-10">
                                <input type="file" id="seachQuery" name="image" class="form-control ">

                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <div id="NewList" class="col-sm-10" style="   margin-top: 20px;">
                                <button type="submit" class="btn btn-primary lgnsubmitt">تایید </button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="typePlus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">مدیریت نوع صفحات</h5>

                </div>
                <div class="modal-body">
                    <div class="container">
                        <p>افزودن تایپ جدید</p>
                        <input class="form-control" name="title" />
                        <p class="btn btn-secondary">تایید</p>
                    </div>

                    <div class="container">
                        <p>افزودن دسته بندی برای  تایپ</p>

                        @Html.DropDownList("type", new SelectList(Model.contentListVM.typeList, "typeID", "title"), "-- انتخاب تایپ --", new { @class = "form-control" })
                        <input class="form-control" name="title" />
                        <p class="btn btn-secondary">تایید</p>
                    </div>

                    <div class="container">
                        <p>افزودن برچسب برای  تایپ</p>
                        @Html.DropDownList("type", new SelectList(Model.contentListVM.typeList, "typeID", "title"), "-- انتخاب تایپ --", new { @class = "form-control" })

                        <input class="form-control" name="title" />
                        <p class="btn btn-secondary">تایید</p>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div style="display:flex; justify-content:center; background-color:white; padding:10px">
        <button style="margin:5px" type="button" class="addminButton btn btn-primary" data-toggle="modal" data-target="itemPlus">
            افزودن المان به صفحه
        </button>
        <button style="margin:5px" type="button" class="addminButton btn btn-primary" data-toggle="modal" data-target="pagePlus">
            افزودن صفحه جدید
        </button>
        <button style="margin:5px" type="button" class="addminButton btn btn-primary" data-toggle="modal" data-target="typePlus">
            مدیریت ماهیت صفحات
        </button>
    </div>
    @section scripts{

        <script>
                $(".addminButton").click(function(){
                   var id = $(this).attr("data-target");
                   $("#"+id).modal('toggle');
                })
        </script>
    }

}

@section heading{

    @{
        if (Model.Metas != null)
        {
            if (Model.Metas.Count() > 0)
            {
                foreach (var item in Model.Metas)
                {
                    <meta name="@item.Name" content="@item.Content" />
                }
            }
        }


    }


}



@if (Model.Contents != null)
{
    greenEnergy.ViewModel.partialSectionVM data = new greenEnergy.ViewModel.partialSectionVM();
    data.list = Model.Contents;



    foreach (var item in Model.Contents.Where(x => x.parentID == null))
    {
        data.itemModel = item;
        string partialPath = "/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Sections/" + item.partialName + ".cshtml";

        Html.RenderPartial(partialPath, item);
        

    }
}
