@model greenEnergy.ViewModel.pageSectionVM


@{
    ViewBag.Title = Model.title;
    Layout = "~/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/" + @ViewBag.layout;
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";

}


@if (Model.contentListVM != null)
{
    <div class="modal fade" id="itemPlus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">افزودن آیتم جدید</h5>

                </div>
                <div class="modal-body">
                    <div class="">
                        <form method="post" action="/panel/setContnet" style="direction:rtl">

                            @Html.AntiForgeryToken()

                            <input hidden name="url" value="@Model.url" />
                            <input hidden name="fromHome" value="1" />
                            <input hidden name="contentParent" value="@Model.Contents.First().conentID" />
                            <input hidden name="sectionID" value="@Model.sectionID" />
                            <input hidden value=" " type="text" id="descr" name="description">
                            <div class="row" style="margin:20px">
                                <p>اولویت:</p>
                                <input required type="text" id="seachQuery" name="priority" class="form-control ">
                            </div>
                           
                            <div class="row" style="margin:20px">
                                <p>تولید دیتا از پیچ با تایپ :</p>
                                @Html.DropDownList("typeID", new SelectList(Model.contentListVM.typeList, "typeID", "title"), "choose one", new { @class = "form-control", name = "typeID" })

                            </div>
                            <div class="row" style="margin:20px">
                                <p>انتخاب المان :</p>
                                <select name="htmlID" class="form-control">
                                    @foreach (var item in Model.contentListVM.htmlList)
                                    {
                                        string active = "active";
                                        string ischecked = "checked";
                                        if (Model.contentListVM.htmlList.IndexOf(item) != 0)
                                        {
                                            active = "";
                                            ischecked = "";
                                        }


                                        <option @ischecked value="@item.htmlID" class=" @active">

                                            @item.htmlName
                                            @*<div class="col-md-3">
                            <div class="card htmlcard" style="">

                                <div urltogo="~/Images/@System.Configuration.ConfigurationManager.AppSettings["name"]/Uploads/@item.image" class="" style="border:none"></div>
                            </div>

                        </div>*@
                                        </option>

                                    }

                                </select>

                            </div>
                    



                            <button type="submit" class="btn btn-primary lgnsubmitt" style="margin-right:20px">تایید </button>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="pagePlus" tabindex="-1" role="dialog" aria-pledby="exampleModalp" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalp">افزودن صفحه جدید</h5>

                </div>
                <div class="modal-body">
                    <div>
                        <form style="direction:rtl" method="post" action="/panel/setPageFromHome" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="fromInput" />
                            <div class="row  " style="margin:20px">
                                <p class=" ">عنوان:</p>
                                <input required type="text" id="seachQuery" name="title" class="form-control ">
                            </div>
                            @*<div class="col-lg-6 mb-4 row " style="">
                <p class=" ">Button Text:</p>
                <div class="col-sm-10">
                    <input required type="text" id="seachQuery" name="buttonText" class="form-control ">

                </div>
            </div>*@
                        <div class="row " style="margin:20px">
                            <p class=" ">توضیحات:</p>
                            <input required type="text" id="seachQuery" name="description" class="form-control ">

                        </div>

                        <div class="row " style="margin:20px">
                            <p class=" ">یوارال:</p>
                            <input type="text" id="" name="url" class="form-control ">

                        </div>
                        <div class="row " style="margin:20px">
                            <p class=" ">متا تایتل:</p>
                            <input required type="text" id="" name="metaTitle" class="form-control ">

                        </div>
                        <div class="row " style="margin:20px">
                            <p class=" ">انتخاب قالب:</p>
                            @Html.DropDownList("sectionLayoutID", new SelectList(Model.layoutList.layoutObjectLists, "sectionLayoutID", "menuTitle"), new { @class = "form-control", name = "sectionLayoutID" })

                        </div>
                        <div class="row " style="margin:20px">
                            <p class=" ">زبان:</p>
                            @Html.DropDownList("languateID", new SelectList(Model.layoutList.langauageList, "languageID", "title"), new { @class = "form-control", name = "languateID" })

                        </div>
                        <div class="row " style="margin:20px">
                            <p class=" ">نوع صفحه:</p>
                            @Html.DropDownList("sectinoTypeID", new SelectList(Model.contentListVM.typeList, "typeID", "title"), new { @class = "form-control", name = "sectionLayoutID" })

                        </div>
                            <div class="row " style="margin:20px">
                                <p class=" ">طبقه بندی  صفحه  :</p>
                                <select name="categoryID" class="form-control">
                                    @foreach (var item in Model.catTypeList.list)
                                    {
                                        <option>انتخاب دسته بندی</option>
                                        <option value="@item.categoryID" class="subCatItem @item.sectionTypeName">
                                            @item.title
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="row " style="margin:20px">
                                <p class=" ">برچسب های صفحه  :</p>
                                <select style="height:100px" multiple name="secTagID" class="form-control">
                                    @foreach (var item in Model.tagTypeList.list)
                                    {
                                        <option style="padding:10px" value="@item.tagID" class="subCatItem @item.sectionTypeName">
                                            @item.title
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="row " style="margin:20px">
                                <p class=" ">کپی از صفحه حاضر  :</p>
                                <input type="checkbox" id="seachQuery" name="isCopy" class=" ">
                                <input name="mirrorID" value="@Model.Contents.First().conentID" hidden />
                            </div>
                            <div class="row " style="margin:20px">
                                <p class=" ">تصویر  :</p>
                                <input type="file" id="seachQuery" name="image" class="form-control ">

                            </div>
                            <div class="row " style="margin:20px">
                                <div id="NewList" class="col-sm-10" style="   margin-top: 20px;">
                                    <button type="submit" class="btn btn-primary lgnsubmitt">تایید </button>
                                </div>
                            </div>

                        </form>
                    </div>
                  

                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="typePlus" tabindex="-1" role="dialog" aria-pledby="exampleModalp" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalp">مدیریت نوع صفحات</h5>

                </div>
                <div class="modal-body">
                    <div class="">
                        <p>افزودن تایپ جدید</p>
                        <form method="post" action="/panel/setType" style="direction:rtl; padding:20px;">

                            @Html.AntiForgeryToken()
                            <input hidden name="fromHome" value="1" />
                            <input hidden name="url" value="@ViewBag.url" />
                            <div class="row " style="">
                                <p class=" col-sm-2 mb-0">عنوان  :</p>
                                <input type="text" id="seachQuery" name="title" class="form-control ">

                            </div>
                            <div id="NewList"  style="   margin-top: 20px;">
                                <button type="submit" class="btn btn-primary lgnsubmitt">تایید </button>
                            </div>

                        </form>
                     
                    </div>

                    <div class="">
                        <p>افزودن دسته بندی برای  تایپ</p>
                        <form method="post" action="/panel/setCategory" style="direction:rtl; padding:20px;">
                            <input hidden name="fromHome" value="1" />
                            <input hidden name="url" value="@ViewBag.url" />
                            @Html.AntiForgeryToken()
                        <div class="row " style="">
                            <p class="">عنوان  :</p>
                            <input type="text" id="seachQuery" name="title" class="form-control ">

                        </div>
                        <div class=" row " style="">
                            <p >نوع صفحه  :</p>
                            @Html.DropDownList("sectionTypeID", new SelectList(Model.contentListVM.typeList, "typeID", "title"), new { @class = "form-control" })


                        </div>
                            <div id="NewList"  style="   margin-top: 20px;">
                                <button type="submit" class="btn btn-primary lgnsubmitt">تایید </button>
                            </div>

                        </form>
                   
                    </div>

                    <div class="">
                        <p>افزودن برچسب برای  تایپ</p>
                        <form method="post" action="/panel/setTag" style="direction:rtl; padding:20px;">
                            <input hidden name="fromHome" value="1" />
                            <input hidden name="url" value="@ViewBag.url" />
                            @Html.AntiForgeryToken()
                            <div class=" row " style="">
                                <p class=" ">عنوان  :</p>
                                <input type="text" id="seachQuery" name="title" class="form-control ">

                            </div>
                            <div class=" row " style="">
                                <p class="">نوع صفحه  :</p>
                                @Html.DropDownList("sectionTypeID", new SelectList(Model.contentListVM.typeList, "typeID", "title"), new { @class = "form-control" })

                            </div>
                            <div id="NewList"  style="   margin-top: 20px;">
                                <button type="submit" class="btn btn-primary lgnsubmitt">تایید </button>
                            </div>

                        </form>
                       
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div style="display:flex; justify-content:center; background-color:white; padding:10px">
        <button style="margin:5px" type="button" class="addminButton btn btn-primary" data-toggle="modal" data-target="itemPlus">
            افزودن المان به صفحه
        </button>
        <button style="margin:5px" type="button" class="addminButton btn btn-primary" data-toggle="modal" data-target="pagePlus">
            افزودن صفحه جدید
        </button>
        <button style="margin:5px" type="button" class="addminButton btn btn-primary" data-toggle="modal" data-target="typePlus">
            مدیریت ماهیت صفحات
        </button>
    </div>
    @section scripts{

        <script>
                $(".addminButton").click(function(){
                   var id = $(this).attr("data-target");
                   $("#"+id).modal('toggle');
                })
        </script>
    }

}

@section heading{

    @{
        if (Model.Metas != null)
        {
            if (Model.Metas.Count() > 0)
            {
                foreach (var item in Model.Metas)
                {
                    <meta name="@item.Name" content="@item.Content" />
                }
            }
        }


    }


}



@if (Model.Contents != null)
{
    greenEnergy.ViewModel.partialSectionVM data = new greenEnergy.ViewModel.partialSectionVM();
    data.list = Model.Contents;



    foreach (var item in Model.Contents.Where(x => x.parentID == null))
    {
        data.itemModel = item;
        string partialPath = "/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Sections/" + item.partialName + ".cshtml";

        Html.RenderPartial(partialPath, item);


    }
}
