@{
    ViewBag.Title = "تاییده پرداخت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    .p {
        width: 70%;
        margin: auto;
        align-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .childofp {
        margin: 3%;
    }

        .childofp p {
            text-align: right
        }
</style>


<link href="~/Content/font.css" rel="stylesheet" />
@{
    if (@ViewBag.message == "موفق")
    {
        <div class="container" style="text-align:center; direction:rtl; padding:50px 50px;background-color: white;margin-top: 20px;margin-bottom:20px; border: 1px #ddd solid;border-radius: 10px;">

            <div class="row" style="display:flex">
                <img style="width:150px; float:left; margin:auto" src="~/images/successPayment.png" />
            </div>

            <h4 style="text-align:center; float:right;color:#4d4d4d;padding: 30px;width:100%; ">
                سفارش شما با موفقیت در سیستم ثبت شد
            </h4>
            <h4 style="text-align:center;font-size:18px;">شماره فاکتور:   <span style="font-size:25px"></span>@ViewBag.message2 </h4>
            @*<div class="btn btn-default" style="margin:25px"><a href="/Home/index">بازگشت به صفحه اول</a> </div>*@


            @{

                if (Request.Browser.IsMobileDevice)
                {
                    //string srt = "dynamic://pals.browser.result/?action=reload";
                    string srt = "dynamic://palse.browser.result/?action=reload";

                    <div class="btn btn-default" style="margin:25px"> <a style="font-size:15px" id="android" href="@srt">بازگشت به اپلیکیشن</a></div>

                }

            }


        </div>

    }
    else
    {
        <div class="container" style="text-align:center; direction:rtl; padding:50px 50px;background-color: white;margin-top: 20px;border: 1px #ddd solid;border-radius: 10px;">

            <div class="row" style="display:flex">

                <img src="~/images/paymentError.png" style="width:150px; float:left; margin:auto" />
            </div>

            <h4 style="text-align:center; float:right;color:#4d4d4d;padding: 30px;width:100%; ">
                خطا ! در پروسه پرداخت خطایی رخ داده است لطفاً مجدداً تلاش نمایید
            </h4>

            <div class="btn btn-default" style="margin:25px"><a href="/Home/index">بازگشت به صفحه اول</a> </div>


            @*@{
                    string srt = ViewBag.package + "//" + "mellatgate-" + @ViewBag.message + "-" + @ViewBag.message3;

                    <div class="btn btn-default" style="margin:25px"> <a style="font-size:15px" id="android" href="@srt">بازگشت به اپلیکیشن</a></div>

                }*@

            @{

                if (Request.Browser.IsMobileDevice)
                {
                    string srt = "dynamic://palse.browser.result/?action=reload";

                    <div class="btn btn-default" style="margin:25px"> <a style="font-size:15px" id="android" href="@srt">بازگشت به اپلیکیشن</a></div>

                }

            }




        </div>

    }
}





