

@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
@{
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string image = string.IsNullOrEmpty(Model.dataList.SingleOrDefault(x => x.title == "img_image").title2) ? "" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image").title2;

    string imageClass = Model.dataList.SingleOrDefault(x => x.title == "imageClass") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "imageClass").title2;

    string btnText = Model.dataList.SingleOrDefault(x => x.title == "buttonText") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "buttonText").title2;
    string btnClass = Model.dataList.SingleOrDefault(x => x.title == "buttonClass") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "buttonClass").title2;
    string btnLink = Model.dataList.SingleOrDefault(x => x.title == "buttonLink") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "buttonLink").title2;
    string html_description = Model.dataList.SingleOrDefault(x => x.title == "html_description") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "html_description").title2;
    string html_title = string.IsNullOrEmpty(Model.dataList.SingleOrDefault(x => x.title == "html_title").title2) ? "" : Model.dataList.SingleOrDefault(x => x.title == "html_title").title2;
    string style0 = Model.dataList.SingleOrDefault(x => x.title == "style") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;


    styleVM styleModelDetail = new greenEnergy.ViewModel.styleVM();
    string detailStyle = "";
    detailStyle = greenEnergy.Classes.methods.getMyStyle(style0);

}
<div style="@detailStyle">
    @if (!string.IsNullOrEmpty(image))
    {
        <img class="@imageClass.Replace(",", " ") imageDetail" src="@image" />
    }
    @if (!string.IsNullOrEmpty(html_title))
    {
        <div class="titleParent ">@Html.Raw(html_title)</div>
    }
    @if (!string.IsNullOrEmpty(html_description))
    {
        <div>@Html.Raw(html_description)</div>
    }
    @if (!string.IsNullOrEmpty(btnText))
    {
        <a class="btn @btnClass.Replace(",", " ") btn-lg page-scroll wow fadeInUp" href="@btnLink">@btnText</a>

    }
</div>