@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
<!-- Intro Slider-->

@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }

    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string image = Model.dataList.SingleOrDefault(x => x.title == "img_image") == null ? "" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image").title2;
    string html_title = Model.dataList.SingleOrDefault(x => x.title == "html_title") == null ? "slider title" : Model.dataList.SingleOrDefault(x => x.title == "html_title").title2;
    string html_description = Model.dataList.SingleOrDefault(x => x.title == "html_description") == null ? "slider title" : Model.dataList.SingleOrDefault(x => x.title == "html_description").title2;
    string buttonText1 = Model.dataList.SingleOrDefault(x => x.title == "buttonText1") == null ? "buttonText1" : Model.dataList.SingleOrDefault(x => x.title == "buttonText1").title2;
    string buttonText2 = Model.dataList.SingleOrDefault(x => x.title == "buttonText2") == null ? "buttonText2" : Model.dataList.SingleOrDefault(x => x.title == "buttonText2").title2;
    string buttonText3 = Model.dataList.SingleOrDefault(x => x.title == "buttonText3") == null ? "buttonText3" : Model.dataList.SingleOrDefault(x => x.title == "buttonText3").title2;
    string buttonText4 = Model.dataList.SingleOrDefault(x => x.title == "buttonText4") == null ? "buttonText4" : Model.dataList.SingleOrDefault(x => x.title == "buttonText4").title2;
    string buttonURL1 = Model.dataList.SingleOrDefault(x => x.title == "buttonURL1") == null ? "buttonURL1" : Model.dataList.SingleOrDefault(x => x.title == "buttonURL1").title2;
    string buttonURL2 = Model.dataList.SingleOrDefault(x => x.title == "buttonURL2") == null ? "buttonURL2" : Model.dataList.SingleOrDefault(x => x.title == "buttonURL2").title2;
    string buttonURL3 = Model.dataList.SingleOrDefault(x => x.title == "buttonURL3") == null ? "buttonURL3" : Model.dataList.SingleOrDefault(x => x.title == "buttonURL3").title2;
    string buttonURL4 = Model.dataList.SingleOrDefault(x => x.title == "buttonURL4") == null ? "buttonURL4" : Model.dataList.SingleOrDefault(x => x.title == "buttonURL4").title2;

}

@{

    string classname = ViewBag.classname;
    if (Model != null)
    {
        <div class="ms-section ms-table qodef-m-slide-content @classname" style="" data-header-skin="light">
            <div class="qodef-m-template-content">
                <div data-elementor-type="section" data-elementor-id="4696" class="elementor elementor-4696">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-59ec5a68 elementor-section-full_width elementor-section-height-min-height elementor-section-content-middle elementor-section-height-default elementor-section-items-middle qodef-elementor-content-no" data-id="59ec5a68" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div style="width:100%" class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2fb47e62" data-id="2fb47e62" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-16fe2607 elementor-section-full_width elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="16fe2607" data-element_type="section">
                                        <div style="width:100%" class="elementor-container elementor-column-gap-default">
                                            <div style="width:100%" class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3385c313" data-id="3385c313" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-36e4105f elementor-widget elementor-widget-manufaktursolutions_core_single_image" data-id="36e4105f" data-element_type="widget" data-widget_type="manufaktursolutions_core_single_image.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="qodef-shortcode qodef-m  qodef-single-image qodef-layout--default  ">
                                                                <div class="qodef-m-image">
                                                                    <img decoding="async" width="200" height="230" src="~/webAssets/jahan/industry/wp-content/uploads/2022/10/h4-img-11-2.png" class="attachment-full size-full" alt="c" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-bd8a44a elementor-widget elementor-widget-manufaktursolutions_core_section_title" data-id="bd8a44a" data-element_type="widget" data-widget_type="manufaktursolutions_core_section_title.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--left   ">
                                                                <p class="qodef-m-title dirRight" style="color: #FFFFFF">
                                                                    @Html.Raw(html_description)
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-37f656d6 elementor-widget elementor-widget-manufaktursolutions_core_separator" data-id="37f656d6" data-element_type="widget" data-widget_type="manufaktursolutions_core_separator.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="qodef-shortcode qodef-m  qodef-separator clear  ">
                                                                <div class="qodef-m-line" style="border-color: #FFFFFF;border-style: solid;width: 100%;border-bottom-width: 1px"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="elementor-element elementor-element-bd8a44a elementor-widget elementor-widget-manufaktursolutions_core_section_title" data-id="bd8a44a" data-element_type="widget" data-widget_type="manufaktursolutions_core_section_title.default">
                                                        <div class="elementor-widget-container">
                                                            <div style="margin-bottom:20px" class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--left   ">
                                                                <div class="qodef-m-title dirRight" style="color: #FFFFFF">
                                                                    <a style="color:white;  text-decoration:none; margin-bottom:20px" style="color:white; text-decoration:none" href="@buttonURL1"> @buttonText1</a>

                                                                </div>
                                                            </div>


                                                            <div style="margin-bottom:20px" class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--left   ">
                                                                <div class="qodef-m-title dirRight" style="color: #FFFFFF">
                                                                    <a style="color:white; text-decoration:none; " href="@buttonURL2"> @buttonText2</a>

                                                                </div>
                                                            </div>


                                                            <div style="margin-bottom:20px" class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--left   ">
                                                                <div class="qodef-m-title dirRight" style="color: #FFFFFF">
                                                                    <a style="color:white; text-decoration:none; margin-bottom:20px" href="@buttonURL3"> @buttonText3</a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    }

    if (ViewBag.from == "web")
    {

    }
    else
    {

    }
}

