<!DOCTYPE html>
@using greenEnergy.ViewModel;
@{
    greenEnergy.ViewModel.getsectionLayoutVM layoutmodel = @ViewBag.layoutModel;
    getlayoutPartVM menuPart = layoutmodel.LayoutParts.SingleOrDefault(x => x.title.ToLower() == "menu");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.title </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/webAssets/irha/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/webAssets/irha/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/webAssets/irha/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/webAssets/irha/images/favicons/site.webmanifest">
    <meta name="description" content="Insur HTML 5 Template ">
    <meta name="robots" content="noindex" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/webAssets/irha/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/animate/animate.min.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/animate/custom-animate.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/jarallax/jarallax.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/jquery-magnific-popup/jquery.magnific-popup.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/nouislider/nouislider.pips.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/odometer/odometer.min.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/swiper/swiper.min.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/insur-icons/style.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/insur-two-icon/style.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/insur-four-icon/style.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/tiny-slider/tiny-slider.min.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/reey-font/stylesheet.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/bxslider/jquery.bxslider.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/vegas/vegas.min.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/timepicker/timePicker.css">
    <link rel="stylesheet" href="/webAssets/irha/vendors/ion.rangeSlider/css/ion.rangeSlider.min.css">

    <link href="~/webAssets/irha/css/custom.css" rel="stylesheet" />
    <!-- template styles -->
    <link rel="stylesheet" id="langLtr" href="/webAssets/irha/css/insur.css">
    <link rel="stylesheet" href="/webAssets/irha/css/color-6.css">
    @RenderSection("heading", required: false)
    @*<link href="~/webAssets/irha/css/insur-rtl.css" rel="stylesheet" />*@
    <link href="~/Content/font.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />

    <style>
        .childButton, .editButton, .removeButton, .priorityButton {
            width: 25px;
            height: 25px;
            margin: 5px;
        }

        .controllerButtons {
            display: flex;
            justify-content: center;
            background-color: white;
            padding: 5px;
            width: 100%
        }

        .controllerButtonsRight {
            margin: 0 10px;
            background-color: #eee;
            border-radius: 8px;
            padding: 8px
        }

        .close {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        /*.services-eight__single__icon {
            width: 35px !important;
            height: 35px !important;
        }*/
        .get-insurance-five__content {
            border-radius: 20px 0px 40px 0 !important;
        }

        .get-insurance-five__tabs li {
            border-radius: 40px 0px 0 0px !important;
        }

        .services-seven__img {
            right: unset !important;
            left: 0 !important;
        }

        .services-eight {
            padding: 180px 0 245px
        }

        .about-nine__list__icon {
            margin-right: unset !important;
            margin-left: 15px !important;
        }

        .about-nine__box li {
            padding-right: 30px !important;
        }

        h1, h2, h3, h4, h5, h6, p, span, li {
            direction: rtl !important;
            text-align: right;
        }
        /*.text-left {
            direction: rtl;
        }*/
        .text-right {
            direction: rtl;
        }

        .services-eight__carousel.owl-carousel .owl-nav {
            left: 0 !important;
            right: unset !important;
        }

        .main-slider-eight__title-wrapper, .main-slider-eight__text-wrapper {
            direction: rtl !important;
            text-align: right !important;
            margin-right: 50% !important;
            margin-bottom: 40px !important;
        }

        .main-slider-eight__title {
            font-size: 45px;
        }
    </style>
    <script src="/webAssets/irha/vendors/jquery/jquery-3.6.0.min.js"></script>
</head>

<body class="custom-cursor ">

    @if (Request.Cookies["adminToken"] != null)
    {
        <div class="modal addMenuDataModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="direction:rtl">
                        <h5 class="modal-title">ویرایش</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" action="/panel/setLayoutPartData" enctype="multipart/form-data" style="direction:rtl; padding:20px">
                        @Html.AntiForgeryToken()
                        <input hidden name="layoutPartID" value="@menuPart.layoutPartID" />
                        <input hidden name="pageurl" value="@ViewBag.url" />
                        <input hidden name="fromHome" value="1" />
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:none">
                            <label class="form-label-title col-sm-12 mb-0">Title:</label>
                            <div class="col-sm-10">
                                <input value=" " required type="text" id="" name="title" class="form-control col-md-7 col-xs-12">

                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:none">
                            <label class="form-label-title col-sm-12 mb-0">Section Type:</label>
                            <div class="col-sm-10">

                                <select name="dataType" class="form-control">
                                    <option value="headerMenu">headerMenu</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title col-sm-12 mb-0">یو ار ال:</label>
                            <div class="col-sm-10">
                                <input type="text" id="" name="url" class="form-control col-md-7 col-xs-12">

                            </div>
                        </div>

                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title col-sm-12 mb-0">یو ار ال تایتل:</label>
                            <div class="col-sm-10">
                                <input required type="text" id="" name="urlTitle" class="form-control col-md-7 col-xs-12">

                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title col-sm-12 mb-0">اولویت:</label>
                            <div class="col-sm-10">
                                <input type="text" id="" name="priority" class="form-control col-md-7 col-xs-12">

                            </div>
                        </div>


                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <label class="form-label-title col-sm-12 mb-0">پرنت:</label>
                            <div class="col-sm-10">

                                @Html.DropDownList("parentID", new SelectList(menuPart.LayoutDatas, "layoutDataID", "urlTitle"), "select parent", new { @class = "form-control", name = "parentID" })

                            </div>
                        </div>

                        <div class="col-lg-6 mb-4 row align-items-center" style="display:none">
                            <label class="form-label-title col-sm-12 mb-0">image  :</label>
                            <div class="col-sm-10">
                                <input type="file" id="" name="image" class="form-control col-md-7 col-xs-12">

                            </div>
                        </div>


                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                            <div id="NewList" class="col-sm-10" style="   margin-top: 20px;">
                                <button type="submit" class="btn btn-primary lgnsubmitt">تایید </button>
                            </div>
                        </div>

                    </form>




                </div>
            </div>
        </div>
        <div class="modal removeMenuDataModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="direction:rtl">
                        <h5 class="modal-title">ویرایش</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/panel/removeLayoutpartData" method="post" enctype="multipart/form-data" style="direction:rtl;padding:25px">
                        @Html.AntiForgeryToken()
                        <input hidden name="layoutPartID" value="@menuPart.layoutPartID" />
                        <input hidden name="pageurl" value="@ViewBag.url" />
                        <input hidden name="fromHome" value="1" />
                        <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">

                            <div class="col-sm-10">

                                @Html.DropDownList("layoutDataID", new SelectList(menuPart.LayoutDatas, "layoutDataID", "urlTitle"), "انتخاب آیتم", new { @class = "form-control", name = "parentID" })

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn ripple btn-primary" type="submit">تایید</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    }

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>




    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        <header class="main-header-eight">
            <div class="main-header-eight__top">
                <div class="main-header-eight__inner">
                    <ul class="list-unstyled main-header-eight__info">
                        <li>
                            <span class="main-header-eight__info__icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                            30 Commercial Road Fratton, Australia
                        </li>
                        <li>
                            <span class="main-header-eight__info__icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <a href="mailto:needhelp@company.com">needhelp@company.com</a>
                        </li>
                    </ul>
                    <div class="main-header-eight__right">
                        <div class="main-header-eight__social">
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a>
                            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                        </div>
                        <a href="contact.html" class="thm-btn thm-btn--eight">تماس با ما</a>
                    </div>
                </div>
            </div>
            <nav class="main-menu main-menu-eight">
                <div class="main-menu-eight__wrapper" style="direction:rtl">
                    <div class="main-menu-eight__logo">
                        <a href="index.html">
                            <img src="/webAssets/irha/images/update-15-2-2024/resources/logo.png" width="159" alt="insur">
                        </a>
                    </div>
                    <div class="main-menu-eight__left">
                        <div class="main-menu-eight__main-menu-box">
                            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                            <ul class="main-menu__list" style="direction:ltr">
                                @if (Request.Cookies["adminToken"] != null)
                                {
                                    <li><i style="color:white" class="fa fa-plus addMenuData"></i></li>
                                    <li><i style="color:white" class="fa fa-minus removeMenuData"></i></li>
                                }
                                @{

                                    foreach (var item in menuPart.LayoutDatas.Where(x => x.parentID == null).OrderByDescending(x => x.priority))
                                    {

                                        List<getlayoutDataVM> firstChilds = menuPart.LayoutDatas.Where(x => x.parentID == item.layoutDataID).OrderBy(x => x.priority).ToList();
                                        String dropdown = firstChilds.Count() > 0 ? "dropdown" : "";

                                        <li class="@dropdown">

                                            @if (firstChilds.Count() > 0)
                                            {
                                                <a>
                                                    @item.urlTitle
                                                </a>
                                                <ul>
                                                    @foreach (var secitem in firstChilds)
                                                    {
                                                        string furl = secitem.url == null ? "/" : secitem.url;
                                                        <li><a href="@furl"> @secitem.urlTitle</a></li>
                                                    }


                                                </ul>

                                            }

                                            else
                                            {
                                                string furl = item.url == null ? "/" : item.url;
                                                <a href="@furl">
                                                    <span class="qodef-menu-item-text">
                                                        @item.urlTitle
                                                    </span>
                                                </a>
                                            }

                                        </li>

                                    }
                                }


                            </ul>
                        </div>
                    </div>
                    <div class="main-menu-eight__right">
                        @*<a href="#" class="main-menu-eight__search search-toggler"><i class="icon-magnifying-glass"></i></a>
                            <a href="cart.html" class="main-menu-eight__cart"><i class="insur-two-icon-shopping-cart"></i></a>
                            <div class="main-menu-eight__call">
                                <div class="main-menu-eight__call__icon"><i class="fas fa-phone-alt"></i></div>
                                <div class="main-menu-eight__call__title">Emergency call</div>
                                <a class="main-menu-eight__call__text" href="tel:9238008060">+92 3800 8060</a>
                            </div>*@
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricked-menu main-menu main-menu-eight">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->




        @RenderBody()




        <!--Site Footer Four Start-->
        <footer class="site-footer-five">
            <div class="site-footer-five__shape-one" style="background-image: url(webAssets/irha/images/update-15-2-2024/shapes/footer-shape-1.png);"></div>
            <div class="site-footer-five__shape-two" style="background-image: url(webAssets/irha/images/update-15-2-2024/shapes/footer-shape-2.png);"></div>
            <div class="site-footer-five__top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="00ms">
                            <div class="site-footer-five__column site-footer-five__about">
                                <h3 class="site-footer-five__title">About</h3>
                                <p class="site-footer-five__about__text">
                                    There are many variations of passages of Lorem Ip available, but the majority have
                                </p>
                                <form class="site-footer-five__about__form">
                                    <input type="email" placeholder="Email Address" name="email">
                                    <button type="submit"><i class="insur-four-icon-right-arrow"></i></button>
                                </form>
                                <div class="site-footer-five__about__social">
                                    <a href="https://facebook.com">
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        <span class="sr-only">Facebook</span>
                                    </a>
                                    <a href="https://twitter.com">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                        <span class="sr-only">Twitter</span>
                                    </a>
                                    <a href="https://pinterest.com">
                                        <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                                        <span class="sr-only">Pinterest</span>
                                    </a>
                                    <a href="https://instagram.com">
                                        <i class="fab fa-instagram" aria-hidden="true"></i>
                                        <span class="sr-only">Instagram</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="site-footer-five__column site-footer-five__contact">
                                <a href="index.html" class="site-footer-five__contact__logo"><img src="/webAssets/irha/images/update-15-2-2024/resources/footer-logo.png" width="159" alt="insur"></a>
                                <ul class="site-footer-five__contact__list list-unstyled">
                                    <li>
                                        <div class="site-footer-five__contact__icon">
                                            <i class="fas fa-globe"></i>
                                        </div>
                                        <div class="site-footer-five__contact__content">
                                            <p class="site-footer-five__contact__text"><a href="mailto:mitc@example.com">mitc@example.com</a></p>
                                            <p class="site-footer-five__contact__text"><a href="www.website.com">www.website.com</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="site-footer-five__contact__icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="site-footer-five__contact__content">
                                            <p class="site-footer-five__contact__text">6391 Elgin St. Delaware <br>New York. USA</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="site-footer-five__contact__call">
                                    <div class="site-footer-five__contact__call__icon"><i class="fas fa-phone-alt"></i></div>
                                    <div class="site-footer-five__contact__call__title">Emergency call</div>
                                    <a class="site-footer-five__contact__call__text" href="tel:9238008060">+92 3800 8060</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="site-footer-five__column site-footer-five__links clearfix">
                                <h3 class="site-footer-five__title">Explore</h3>
                                <ul class="site-footer-five__links__list list-unstyled clearfix">
                                    <li>
                                        <a href="about.html">About</a>
                                    </li>
                                    <li>
                                        <a href="insurance-01.html">Insurance</a>
                                    </li>
                                    <li>
                                        <a href="portfolio.html">Latest Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="faq.html">Our Faqs</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Get in Touch</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="site-footer-five__column site-footer-five__gallery clearfix">
                                <h3 class="site-footer-five__title">Gallery</h3>
                                <div class="site-footer-five__gallery__wrapper">
                                    <img src="/webAssets/irha/images/update-15-2-2024/resources/footer-widget-gallery-img-1.jpg" alt="insur">
                                    <img src="/webAssets/irha/images/update-15-2-2024/resources/footer-widget-gallery-img-2.jpg" alt="insur">
                                    <img src="/webAssets/irha/images/update-15-2-2024/resources/footer-widget-gallery-img-3.jpg" alt="insur">
                                    <img src="/webAssets/irha/images/update-15-2-2024/resources/footer-widget-gallery-img-4.jpg" alt="insur">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer-five__bottom">
                <div class="container">
                    <p class="site-footer-five__bottom__text">© All Copyright 2024 by <a href="index.html">Insur.com</a></p>
                </div>
            </div>
        </footer>
        <!--Site Footer Four End-->

    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="/webAssets/irha/images/resources/logo-2.png" width="143"
                         alt="">
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@insur.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here...">
                <button type="submit" aria-label="search submit" class="thm-btn thm-btn--eight">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->


    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>



    <script src="/webAssets/irha/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/webAssets/irha/vendors/jarallax/jarallax.min.js"></script>
    <script src="/webAssets/irha/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="/webAssets/irha/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="/webAssets/irha/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="/webAssets/irha/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/webAssets/irha/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="/webAssets/irha/vendors/nouislider/nouislider.min.js"></script>
    <script src="/webAssets/irha/vendors/odometer/odometer.min.js"></script>
    <script src="/webAssets/irha/vendors/swiper/swiper.min.js"></script>
    <script src="/webAssets/irha/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="/webAssets/irha/vendors/wnumb/wNumb.min.js"></script>
    <script src="/webAssets/irha/vendors/wow/wow.js"></script>
    <script src="/webAssets/irha/vendors/isotope/isotope.js"></script>
    <script src="/webAssets/irha/vendors/countdown/countdown.min.js"></script>
    <script src="/webAssets/irha/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/webAssets/irha/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="/webAssets/irha/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/webAssets/irha/vendors/vegas/vegas.min.js"></script>
    <script src="/webAssets/irha/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/webAssets/irha/vendors/timepicker/timePicker.js"></script>
    <script src="/webAssets/irha/vendors/circleType/jquery.circleType.js"></script>
    <script src="/webAssets/irha/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="/webAssets/irha/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

    @RenderSection("scripts", required: false)

    <script>
        $(".close").click(function(){
          $(this).closest('.modal').modal('toggle');
        })

        $(".addMenuData").click(function(){

          $(".addMenuDataModal").modal('toggle');
        })
        $(".removeMenuData").click(function(){

          $(".removeMenuDataModal").modal('toggle');
        })

        $(".childButton").click(function(){

          $(this).parent().parent().find(".childButtonModal").modal('toggle');
        })
        $(".editButton").click(function(){

          $(this).parent().parent().find(".editButtonModal").modal('toggle');
        })
        $(".removeButton").click(function(){

          $(this).parent().parent().find(".removeButtonModal").modal('toggle');
        })
        $(".priorityButton").click(function(){

          $(this).parent().parent().find(".priorityButtonModal").modal('toggle');
        })
    $(".submitForm").click(function(){
         var form = new FormData();
       $(this).parent().find('input').each(function(){



             if ($(this).attr('type') === 'file')
                {
                  var image = $(this)[0].files[0];
                  form.append('image', image);
                }
             else
                {
                  var value = $(this).val();
                  var name = $(this).attr('name');
                  form.append(name, value);
                }

       })
        $.ajax({
                url: '/panel/setDataFromHome',
                data: form,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success:function(response) {
                    alert("با موفقیت انجام شد");
                }
            });
    })
    </script>
    <!-- template js -->
    <script src="/webAssets/irha/js/insur.js"></script>
</body>

</html>