
@model greenEnergy.ViewModel.layoutPageVM
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_panelLayout.cshtml";
}


@section scripts{
    <script>
        $(".removeButton").click(function () {

            $("#removeID").val($(this).attr("idtogo"));


        })
    </script>

    <script>
        $(".editButton").click(function () {

            $("#editID").val($(this).attr("idtogo"));
            $("#editTitle").val($(this).attr("titletogo"));

            var id = $(this).attr("typepartid");
            const array = id.split(',');
            var i;
            $(".dumyItem").attr('selected','')
            for (i = 0; i < array.length; ++i) {
                let partid = array[i];
                $("#"+partid).attr('selected','selected');
            };
           

            var partnames = $(this).attr("partname");
            //alert(partnames);
            const partarray = partnames.split(',');
            $(".partParent").css('display','none')
            for (i = 0; i < partarray.length; ++i) {
                let partnm = partarray[i] + "Section";
               
                $("#"+partnm).css('display','block');
            };



        })

    </script>
}



<div style=" ">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"> Layout List </button>
            <button class="nav-link " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Add New Layout</button>

        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

            <div class="row">
                <div class="col-sm-12">
                    <!-- Details Start -->

                    <div class="card">
                        <div id="prnt" class="card-body">
                            <div class="title-header option-title">
                                <h5>Layout List </h5>
                            </div>
                            <div class="row" style="background-color:white; padding:10px; margin:0px;overflow-x:scroll">
                                <table class="table all-package theme-table table-product dataTable no-footer" id="table_id" style="margin-top:10px">
                                    <thead>

                                        <tr>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Col </th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">menu Title </th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Base Menu </th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">language </th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;"> data </th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">image </th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Actions </th>


                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (Model.layoutObjectLists != null)
                                        {

                                            foreach (var prod in Model.layoutObjectLists)
                                            {

                                                int i = Model.layoutObjectLists.IndexOf(prod) + 1;
                                                string cls = (Model.layoutObjectLists.IndexOf(prod) + 1) % 2 == 0 ? "even" : "odd";


                                                <tr class="@cls">
                                                    <td>
                                                        @i
                                                    </td>


                                                    <td>@prod.menuTitle</td>
                                                    <td>@prod.title</td>
                                                    <td>@prod.languageName</td>
                                                    <td>
                                                        @{
                                                            string final = "";
                                                            foreach (var str in @prod.partnames)
                                                            {
                                                                final += str + ",";
                                                            }

                                                            final = final.Trim(',');
                                                        }

                                                        @final
                                                    </td>

                                                    <td><img style="max-width:100%" src="/Images/@System.Configuration.ConfigurationManager.AppSettings["name"]/Uploads/@prod.image" /></td>

                                                    <td style="display:flex">
                                                        @{
                                                            string partids = "";

                                                            foreach (var str in @prod.partID)
                                                            {
                                                                partids += str + ",";
                                                            }

                                                            partids = partids.Trim(',');
                                                        }

                                                        <div style="display:flex">


                                                            <a href="/panel/layoutPart/@prod.sectionLayoutID"><div class="btn ripple btn-primary btn-sm editButton">Layout Parts </div></a> 
                                                            <div style="margin:0 5px"></div>
                                                            <button data-bs-target="#editModal" data-bs-toggle="modal" idtogo="@prod.sectionLayoutID" partname="@prod.partName" typepartid="@partids" titletogo="@prod.title" type="button" class="btn ripple btn-primary btn-sm editButton">Edit </button>
                                                            <div style="margin:0 5px"></div>
                                                            <button data-bs-target="#removeModal" data-bs-toggle="modal" idToGo="@prod.sectionLayoutID" type="button" class="btn ripple btn-primary btn-sm removeButton">Remove </button>

                                                        </div>


                                                    </td>




                                                </tr>
                                            }

                                        }

                                    </tbody>
                                </table>







                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


            <div class="row">
                <div class="col-sm-12">
                    <!-- Details Start -->
                    <div class="bigparent" style="display:none ;position:absolute; width:100%; height:100%; background-color:rgba(0,0,0,0.5); z-index:999; ">
                        <div style="display:flex; position:relative">
                            <i class="fa fa-times removebid" style="color:#4d4d4d; font-size:30px; position:absolute; top:50px; right:50px"></i>
                            <img class="bigone" src="~/Images/@System.Configuration.ConfigurationManager.AppSettings["name"]/Uploads/banner1.png" />
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="title-header option-title">
                                <h5>Add New Content</h5>
                            </div>
                            <div class="row">
                                <form method="post" action="/panel/setNewSectionLayout">
                                    @Html.AntiForgeryToken()

                                    <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                        <label class="form-label-title col-sm-12 mb-0">Menu Title:</label>
                                        <div class="col-sm-10">
                                            <input required type="text" id="" name="menuTitle" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                        <label class="form-label-title col-sm-2 mb-0">Language:</label>
                                        <div class="col-sm-10">
                                            @Html.DropDownList("languageID", new SelectList(Model.langauageList, "languageID", "title"), new { @class = "form-control", name = "languageID" })
                                        </div>
                                    </div>

                                    <div class="col-lg-12 mb-12 row align-items-center" style="display:inline-block">
                                        <label class="form-label-title col-sm-2 mb-0">choose content:</label>
                                        <div class="col-sm-10" style="background-color:#eee; border-radius:15px; padding:0">

                                            <div class="container text-center my-3" style="padding:0">
                                                <div class="row mx-auto my-auto justify-content-center">
                                                    <div id="recipeCarousel" class="carousel slide" data-interval="false">
                                                        <div class="carousel-inner" role="listbox">
                                                            @foreach (var item in Model.layoutLists)
                                                            {
                                                                string active = "active";
                                                                string ischecked = "checked";
                                                                if (Model.layoutLists.IndexOf(item) != 0)
                                                                {
                                                                    active = "";
                                                                    ischecked = "";
                                                                }

                                                                <div class="carousel-item @active">
                                                                    <div class="col-md-3">
                                                                        <div class="card htmlcard">
                                                                            <div class="card-img">
                                                                                <img src="~/Images/@System.Configuration.ConfigurationManager.AppSettings["name"]/Uploads/@item.image" class="img-fluid">
                                                                            </div>
                                                                            <div urltogo="~/Images/@System.Configuration.ConfigurationManager.AppSettings["name"]/Uploads/@item.image" class="card-img-overlay">@item.title</div>

                                                                        </div>

                                                                        <p>@item.description</p>
                                                                        <input class="layoutinput" @ischecked type="radio" value="@item.layoutID" name="layoutID" />
                                                                    </div>
                                                                </div>

                                                            }


                                                        </div>
                                                        <a class="carousel-control-prev bg-transparent w-aut carascontrol" href="#recipeCarousel" role="button" data-bs-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        </a>
                                                        <a class="carousel-control-next bg-transparent w-aut carascontrol" href="#recipeCarousel" role="button" data-bs-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        </a>


                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                let items = document.querySelectorAll(".carousel .carousel-item");

                                                items.forEach((el) => {
                                                    const minPerSlide = 2;
                                                    let next = el.nextElementSibling;
                                                    for (var i = 1; i < minPerSlide; i++) {
                                                        if (!next) {
                                                            // wrap carousel by using first child
                                                            next = items[0];
                                                        }
                                                        let cloneChild = next.cloneNode(true);
                                                        el.appendChild(cloneChild.children[0]);
                                                        next = next.nextElementSibling;
                                                    }
                                                });

                                                $(".layoutinput").click(function () {
                                                    var idtoshow = $(this).val();
                                                    $(".partParent").hide();
                                                    $("." + idtoshow).show();
                                                })

                                                $(".removebid").click(function () {
                                                    $(".bigparent").hide();
                                                })
                                            </script>
                                            <style>
                                                .carascontrol {
                                                    background-color: #ddd !important;
                                                }

                                                .carousel-control-prev {
                                                    border-radius: 15px 0px 0px 15px;
                                                    width: 5% !important;
                                                }

                                                .carousel-control-next {
                                                    border-radius: 0 15px 15px 0;
                                                    width: 5% !important;
                                                }

                                                .htmlcard {
                                                    background-color: #eee
                                                }



                                                @@media (max-width: 767px) {
                                                    .carousel-inner .carousel-item > div {
                                                        display: none;
                                                    }

                                                        .carousel-inner .carousel-item > div:first-child {
                                                            display: block;
                                                        }
                                                }

                                                .carousel-inner .carousel-item.active,
                                                .carousel-inner .carousel-item-next,
                                                .carousel-inner .carousel-item-prev {
                                                    display: flex;
                                                }

                                                /* medium and up screens */
                                                @@media (min-width: 768px) {
                                                    .carousel-inner .carousel-item-end.active,
                                                    .carousel-inner .carousel-item-next {
                                                        transform: translateX(25%);
                                                    }

                                                    .carousel-inner .carousel-item-start.active,
                                                    .carousel-inner .carousel-item-prev {
                                                        transform: translateX(-25%);
                                                    }
                                                }

                                                .carousel-inner .carousel-item-end,
                                                .carousel-inner .carousel-item-start {
                                                    transform: translateX(0);
                                                }

                                                .partParent {
                                                    display: none;
                                                }
                                            </style>
                                        </div>
                                    </div>

                                  

                                    <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                        <div id="NewList" class="col-sm-10" style="   margin-top: 20px;">
                                            <button type="submit" class="btn btn-primary lgnsubmitt">OK </button>
                                        </div>
                                    </div>

                                </form>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>





    </div>



</div>




<div class="modal" id="removeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Are you sure Removing this item</h6><button aria-label="close" class="close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
            </div>
            <form action="/panel/removeContent" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @*<input hidden name="sectionID" value="@Model.selectedSection.sectinoID" />*@
                <input hidden name="contentID" id="removeID" />

                <div class="modal-footer">
                    <button class="btn ripple btn-primary" type="submit">Verify</button>
                    <button class="btn ripple btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="editModal">
    <div class="modal-dialog " role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Edit</h6><button aria-label="Close" class="close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
            </div>
            <form action="/panel/setNewSectionLayout" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    

                    <input id="editID" name="sectionLayoutID" hidden/>

                    <p>Title</p>
                    <input type="text" id="editTitle" class="form-control" name="menuTitle" value="" />
                    <p style="margin:10px"></p>


                    @*<p>Language </p>
                    @Html.DropDownList("languateID", new SelectList(Model.langauageList, "languageID", "title"), new { @class = "form-control", name = "languateID", id = "editLanguageID" })
                    <p style="margin:10px"></p>*@

                    <div id="menuSection" class=" partParent editPart">
                        <p>Menu</p>
                        <select name="layoutPartID" class="form-control">
                            <option class="dumyItem" value="" disabled selected>Choose one</option>
                            @foreach (var prt in Model.allPart.Where(x => x.typeName.ToLower() == "menu"))
                            {
                                <option class="partoption" id="@prt.layoutPartID" value="@prt.layoutPartID">@prt.title</option>
                            }
                        </select>
                    </div>

                    <div id="slideSection" class=" partParent editPart">
                        <p>Slide</p>
                        <select name="layoutPartID" class="form-control">
                            <option class="dumyItem" value="" disabled selected>Choose one</option>
                            @foreach (var prt in Model.allPart.Where(x => x.typeName.ToLower() == "slide"))
                            {
                                <option class="partoption" id="@prt.layoutPartID" value="@prt.layoutPartID">@prt.title</option>
                            }
                        </select>
                    </div>

                    <div  id="footerSection" class=" partParent editPart">
                        <p>Footer</p>
                        <select name="layoutPartID" class="form-control">
                            <option class="dumyItem" value="" disabled selected>Choose one</option>
                            @foreach (var prt in Model.allPart.Where(x => x.typeName.ToLower() == "footer"))
                            {
                                <option class="partoption" id="@prt.layoutPartID" value="@prt.layoutPartID">@prt.title</option>
                            }
                        </select>
                    </div>

                    <div id="leftSideSection" class=" partParent editPart">
                        <p>Left Side</p>
                        <select name="layoutPartID" class="form-control">
                            <option class="dumyItem" value="" disabled selected>Choose one</option>
                            @foreach (var prt in Model.allPart.Where(x => x.typeName.ToLower() == "leftside"))
                            {
                                <option class="partoption" id="@prt.layoutPartID" value="@prt.layoutPartID">@prt.title</option>
                            }
                        </select>
                    </div>

                    <div id="rightSideSection" class=" partParent editPart">
                        <p>right Side</p>
                        <select name="layoutPartID" class="form-control">
                            <option class="dumyItem" value="" disabled selected>Choose one</option>
                            @foreach (var prt in Model.allPart.Where(x => x.typeName.ToLower() == "rightside"))
                            {
                                <option class="partoption" id="@prt.layoutPartID" value="@prt.layoutPartID">@prt.title</option>
                            }
                        </select>
                    </div>




                    <p>Image</p>
                    <input class="form-control" type="file" name="file" value="" />

                </div>
                <div class="modal-footer">
                    <button class="btn ripple btn-primary" type="submit">Verify</button>
                    <button class="btn ripple btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>