
@{
    ViewBag.Title = "Page";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

@model greenEnergy.ViewModel.pageListVM
@{
    ViewBag.Title = "language";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}





<div style=" ">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"> @Model.selectedType.title  List </button>
            <button class="nav-link " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Add New @Model.selectedType.title </button>

        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

            <div class="row">
                <div class="col-sm-12">
                    <!-- Details Start -->

                    <div class="card">
                        <div id="prnt" class="card-body">
                            <div class="title-header option-title">
                                <h5>Language List </h5>
                            </div>
                            <div class="row" style="background-color:white; padding:10px; margin:0px;overflow-x:scroll">
                                <table class="table all-package theme-table table-product dataTable no-footer" id="table_id" style="margin-top:10px">
                                    <thead>

                                        <tr>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Col </th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Title </th>
                                            
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">URL </th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Actions </th>
                                            

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (Model.sectionList != null)
                                        {

                                            foreach (var prod in Model.sectionList)
                                            {

                                                int i = Model.sectionList.IndexOf(prod) + 1;
                                                string cls = (Model.sectionList.IndexOf(prod) + 1) % 2 == 0 ? "even" : "odd";


                                                <tr class="@cls">
                                                    <td>
                                                        @i
                                                    </td>


                                                    <td>@prod.title</td>
                                                    <td>@prod.url</td>

                                                    <td>
                                                        <a href="/panel/content/@prod.sectinoID">
                                                            <div class="btn btn-primary lgnsubmitt">Content List</div>
                                                        </a>
                                                    </td>



                                                   
                                                </tr>
                                            }

                                        }

                                    </tbody>
                                </table>







                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Details Start -->

                    <div class="card">
                        <div class="card-body">
                            <div class="title-header option-title">
                                <h5>Add New Language</h5>
                            </div>
                            <div class="row">
                                <form method="post" action="/panel/setPage" enctype="multipart/form-data">
                                    @Html.AntiForgeryToken()
                                    <input hidden name="sectinoTypeID" value="@Model.selectedType.typeID" />
                                    <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                        <label class="form-label-title col-sm-2 mb-0">Title:</label>
                                        <div class="col-sm-10">
                                            <input required type="text" id="seachQuery" name="title" class="form-control col-md-7 col-xs-12">

                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                        <label class="form-label-title col-sm-3 mb-0">Description:</label>
                                        <div class="col-sm-10">
                                            <input required type="text" id="seachQuery" name="description" class="form-control col-md-7 col-xs-12">

                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                        <label class="form-label-title col-sm-2 mb-0">URL:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="" name="url" class="form-control col-md-7 col-xs-12">

                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                        <label class="form-label-title col-sm-2 mb-0">Meta  Title:</label>
                                        <div class="col-sm-10">
                                            <input required type="text" id="" name="metaTitle" class="form-control col-md-7 col-xs-12">

                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                        <label class="form-label-title col-sm-2 mb-0">Layout:</label>
                                        <div class="col-sm-10">

                                            @Html.DropDownList("sectionLayoutID", new SelectList(Model.layoutList, "sectionLayoutID", "title"), new { @class = "form-control", name = "sectionLayoutID" })


                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                        <label class="form-label-title col-sm-2 mb-0">Language:</label>
                                        <div class="col-sm-10">

                                            @Html.DropDownList("languateID", new SelectList(Model.langauageList, "languageID", "title"), new { @class = "form-control", name = "languateID" })


                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                        <label class="form-label-title col-sm-2 mb-0">category  :</label>
                                        <div class="col-sm-10">

                                            @Html.DropDownList("categoryID", new SelectList(Model.categoryList, "categoryID", "title"), new { @class = "form-control", name = "categoryID" })


                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                        <label class="form-label-title col-sm-2 mb-0">image  :</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="seachQuery" name="image" class="form-control col-md-7 col-xs-12">

                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-4 row align-items-center" style="display:inline-block">
                                        <div id="NewList" class="col-sm-10" style="   margin-top: 20px;">
                                            <button type="submit" class="btn btn-primary lgnsubmitt">OK </button>
                                        </div>
                                    </div>

                                </form>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>





    </div>



</div>



