@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";



    string header = Model.dataList.SingleOrDefault(x => x.title == "header").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "header").title2 : "انواع مدل های StartUp";
    string description = Model.dataList.SingleOrDefault(x => x.title == "description").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "description").title2 : "Start up ها به طور کلی به 6 دسته زیر تقسیم می شود";



}



@if (Request.Cookies["adminToken"] != null)
{
    @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_controllerModalParent.cshtml", Model)
}

<section>
    <div class="wpb_column vc_column_container vc_col-sm-12 type-style">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="custom-heading-holder align-center section-title">
                    <h2> @Html.Raw(@header)</h2>
                    <h3 class="custom-heading" style="margin-top: 20px;">
                        @Html.Raw(@description)
                    </h3>
                </div>
                <div class="vc_empty_space" style="height: 10px"><span class="vc_empty_space_inner"></span></div>

                <div class="vc_empty_space" style="height: 45px"><span class="vc_empty_space_inner"></span></div>
                <div class="academy-articles">
                    <div class="row related-courses-section">


                        @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_childContent.cshtml", Model)


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

