@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }



    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";

    string image = Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 : "webAssets/supect/Assets/wp-content/uploads/2017/05/%d9%85%d8%b2%d8%a7%db%8c%d8%a7-%d9%be%d8%b2%d8%b4%da%a9%db%8c.jpg";
    string header = Model.dataList.SingleOrDefault(x => x.title == "header").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "header").title2 : "مزایای سفارش طراحی سایت از تیم حرفه‌ای سوپکت";
    string description = Model.dataList.SingleOrDefault(x => x.title == "description").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "description").title2 : " در اینجا متنی بنویسید";
    string buttonTitle1 = Model.dataList.SingleOrDefault(x => x.title == "buttonTitle1").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "buttonTitle1").title2 : "ثبت درخواست";
    string buttonTitle2 = Model.dataList.SingleOrDefault(x => x.title == "buttonTitle2").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "buttonTitle2").title2 : "مشاوره";

}



<section>
    <div class=" vc_row section vc_row-fluid" id="row-64e561762a35a">
        <div class="row-inner clearfix row-background-transparent">
            <div class="row-outer-holder">
                <div class="wrapper margin-bottom-section specialitySecion" style="">
                    <div class="row-inner-holder align-right" style="">

                        <div data-wow-duration="1.5s" class="wow fadeInUp wpb_column vc_column_container vc_col-sm-12 vc_col-md-6 vc_col-xs-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_single_image wpb_content_element vc_align_right web-main-3-responsive">

                                        <figure class="wpb_wrapper vc_figure">
                                            <a href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey">
                                                <img width="800" height="515" src="@image" class="vc_single_image-img attachment-full" alt="" decoding="async" sizes="(max-width: 800px) 100vw, 800px">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="vc_empty_space" style="height: 32px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-wow-duration="1.5s" class="wow fadeInUp center-in-tablet wpb_column vc_column_container column-content-middle vc_col-sm-12 vc_col-md-6 vc_col-xs-12">
                            <div class="vc_column-inner drs-bcg">
                                <div class="wpb_wrapper">
                                    <div class="custom-heading-holder align-right section-title center-in-tablet">
                                        <h2 class="custom-heading web-title-main-responsive">
                                            @Html.Raw(@header)

                                        </h2>
                                    </div>
                                    <div class="vc_empty_space" style="height: 10px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>

                                    <div class="wpb_text_column wpb_content_element  section-text ">
                                        <div class="wpb_wrapper margin-left-section">

                                            <p class="web-text-main-responsive">
                                                @Html.Raw(@description)

                                            </p>

                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 20px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="hero-buttons">
                                        <div class="btn-style">
                                            <i class="button button-default kt-modal-button" data-modal="contact"> @Html.Raw(@buttonTitle1)</i>
                                            <i class="button button-gray kt-modal-button" data-modal="contact"> @Html.Raw(@buttonTitle2)</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

