
@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{
    //string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    //styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    //string finalStyle = "";
    //if (!string.IsNullOrEmpty(style))
    //{
    //    finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    //}
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string header = Model.dataList.SingleOrDefault(x => x.title == "header").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "header").title2 : "Your attorney partner.";
    string title = Model.dataList.SingleOrDefault(x => x.title == "title").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "title").title2 : "Decades of Experience in the Field.";

    string image1 = Model.dataList.SingleOrDefault(x => x.title == "img_image1").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image1").title2 : "/webAssets/NAGHAVI/images/travel-1.jpg";
    string image2 = Model.dataList.SingleOrDefault(x => x.title == "img_image2").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image2").title2 : "/webAssets/NAGHAVI/images/travel-1.jpg";
    string image3 = Model.dataList.SingleOrDefault(x => x.title == "img_image3").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image3").title2 : "/webAssets/NAGHAVI/images/travel-1.jpg";
    string image4 = Model.dataList.SingleOrDefault(x => x.title == "img_image4").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image4").title2 : "/webAssets/NAGHAVI/images/travel-1.jpg";
    string image5 = Model.dataList.SingleOrDefault(x => x.title == "img_image5").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image5").title2 : "/webAssets/NAGHAVI/images/travel-1.jpg";
    string image6 = Model.dataList.SingleOrDefault(x => x.title == "img_image6").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image6").title2 : "/webAssets/NAGHAVI/images/travel-1.jpg";

    string name1 = Model.dataList.SingleOrDefault(x => x.title == "name1").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "name1").title2 : "Jason Stark";
    string name2 = Model.dataList.SingleOrDefault(x => x.title == "name2").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "name2").title2 : "Jason Stark";
    string name3 = Model.dataList.SingleOrDefault(x => x.title == "name3").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "name3").title2 : "Jason Stark";
    string name4 = Model.dataList.SingleOrDefault(x => x.title == "name4").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "name4").title2 : "Jason Stark";
    string name5 = Model.dataList.SingleOrDefault(x => x.title == "name5").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "name5").title2 : "Jason Stark";
    string name6 = Model.dataList.SingleOrDefault(x => x.title == "name6").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "name6").title2 : "Jason Stark";


    string desc1 = Model.dataList.SingleOrDefault(x => x.title == "desc1").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "desc1").title2 : "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.";
    string desc2 = Model.dataList.SingleOrDefault(x => x.title == "desc2").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "desc2").title2 : "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.";
    string desc3 = Model.dataList.SingleOrDefault(x => x.title == "desc3").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "desc4").title2 : "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.";
    string desc4 = Model.dataList.SingleOrDefault(x => x.title == "desc4").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "desc4").title2 : "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.";
    string desc5 = Model.dataList.SingleOrDefault(x => x.title == "desc5").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "desc5").title2 : "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.";
    string desc6 = Model.dataList.SingleOrDefault(x => x.title == "desc6").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "desc6").title2 : "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.";

}
<section class="grey-bg">
    <div class="container">
        <div class="title center">
            <h2>@header</h2>
            <h4>@title</h4>
        </div>
        <div class="section-content pt-25 pb-25">
            <div class="dylan-menu-alt">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dy-menu">
                            <div class="dy-menu-media">
                                <img class="thumb-placeholder" src="@image1" alt="">
                            </div>
                            <div class="dy-menu-body">
                                <h2>@name1</h2>
                                <p>@desc1</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dy-menu">
                            <div class="dy-menu-media">
                                <img class="thumb-placeholder" src="@image2" alt="">
                            </div>
                            <div class="dy-menu-body">
                                <h2>@name2</h2>
                                <p>@desc2</p>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dy-menu image-right">
                            <div class="dy-menu-media">
                                <img class="thumb-placeholder" src="@image3" alt="">
                            </div>
                            <div class="dy-menu-body">
                                <h2>@name3</h2>
                                <p>@desc3</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dy-menu image-right">
                            <div class="dy-menu-media">
                                <img class="thumb-placeholder" src="@image4" alt="">
                            </div>
                            <div class="dy-menu-body">
                                <h2>@name4</h2>
                                <p>@desc4</p>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dy-menu">
                            <div class="dy-menu-media">
                                <img class="thumb-placeholder" src="@image5" alt="">
                            </div>
                            <div class="dy-menu-body">
                                <h2>@name5</h2>
                                <p>@desc5</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dy-menu">
                            <div class="dy-menu-media">
                                <img class="thumb-placeholder" src="@image6" alt="">
                            </div>
                            <div class="dy-menu-body">
                                <h2>@name6</h2>
                                <p>@desc6</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>