@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }
    
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string title1 = Model.dataList.SingleOrDefault(x => x.title == "title1").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "title1").title2 : "Business Law";
    string title2 = Model.dataList.SingleOrDefault(x => x.title == "title2").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "title2").title2 : "Business Law";
    string title3 = Model.dataList.SingleOrDefault(x => x.title == "title3").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "title3").title2 : "Business Law";

    string desc1 = Model.dataList.SingleOrDefault(x => x.title == "desc1").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "desc1").title2 : "Donec vestibulum velit a dolor volutpat ornare. Mauris in turpis est. Vivamus tempus lorem nec imperdiet fringilla. Etiam quis purus massa.";
    string desc2 = Model.dataList.SingleOrDefault(x => x.title == "desc2").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "desc2").title2 : "Donec vestibulum velit a dolor volutpat ornare. Mauris in turpis est. Vivamus tempus lorem nec imperdiet fringilla. Etiam quis purus massa.";
    string desc3 = Model.dataList.SingleOrDefault(x => x.title == "desc3").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "desc3").title2 : "Donec vestibulum velit a dolor volutpat ornare. Mauris in turpis est. Vivamus tempus lorem nec imperdiet fringilla. Etiam quis purus massa.";

}

<section class="p-0 border-bottom">
    <div class="container-fluid">
        <div class="row row-flex">
            <div class="col-sm-4">
                <div class="box-row">
                    <div class="icon-box align-left">
                        <i class="hc-hammer"></i>
                        <div class="ib-content">
                            <h4>@title1</h4>
                            <p>@desc1</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-row grey-bg">
                    <div class="icon-box align-left">
                        <i class="hc-light"></i>
                        <div class="ib-content">
                            <h4>@title2</h4>
                            <p>@desc2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-row">
                    <div class="icon-box align-left">
                        <i class="hc-cash"></i>
                        <div class="ib-content">
                            <h4>@title3</h4>
                            <p>@desc3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>