@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;

@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";

    string header = Model.dataList.SingleOrDefault(x => x.title == "header").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "header").title2 : "Your attorney partner.";
    string title = Model.dataList.SingleOrDefault(x => x.title == "title").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "title").title2 : "Decades of Experience in the Field.";

    string image1 = Model.dataList.SingleOrDefault(x => x.title == "img_image1").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image1").title2 : "/webAssets/NAGHAVI/images/team-image-4.jpg";
    string image2 = Model.dataList.SingleOrDefault(x => x.title == "img_image2").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image2").title2 : "/webAssets/NAGHAVI/images/team-image-4.jpg";
    string image3 = Model.dataList.SingleOrDefault(x => x.title == "img_image3").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image3").title2 : "/webAssets/NAGHAVI/images/team-image-4.jpg";
    string image4 = Model.dataList.SingleOrDefault(x => x.title == "img_image4").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image4").title2 : "/webAssets/NAGHAVI/images/team-image-4.jpg";

    string name1 = Model.dataList.SingleOrDefault(x => x.title == "name1").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "name1").title2 : "Jason Stark";
    string name2 = Model.dataList.SingleOrDefault(x => x.title == "name2").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "name2").title2 : "Jason Stark";
    string name3 = Model.dataList.SingleOrDefault(x => x.title == "name3").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "name3").title2 : "Jason Stark";
    string name4 = Model.dataList.SingleOrDefault(x => x.title == "name4").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "name4").title2 : "Jason Stark";


    string desc1 = Model.dataList.SingleOrDefault(x => x.title == "desc1").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "desc1").title2 : "Principal";
    string desc2 = Model.dataList.SingleOrDefault(x => x.title == "desc2").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "desc2").title2 : "Principal";
    string desc3 = Model.dataList.SingleOrDefault(x => x.title == "desc3").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "desc4").title2 : "Principal";
    string desc4 = Model.dataList.SingleOrDefault(x => x.title == "desc4").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "desc4").title2 : "Principal";


    

}



<section id="team">
    <div class="container">
        <div class="title center">
            <h2>@header</h2>
            <h4>@title</h4>
        </div>
        <div class="row pt-50">
            <div class="col-sm-6 col-md-3">
                <div class="team-member round-thumb">
                    <div class="team-image">
                        <img src="@image1" alt="Jason Stark">
                    </div>
                    <div class="team-info">
                        <h4>@name1</h4><span class="serif">@desc1</span>
                        <p></p>
                        <ul class="team-social"></ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-member round-thumb">
                    <div class="team-image">
                        <img src="@image2" alt="Eddie Vedder">
                    </div>
                    <div class="team-info">
                        <h4>@name2</h4><span class="serif">@desc2</span>
                        <p></p>
                        <ul class="team-social"></ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-member round-thumb">
                    <div class="team-image">
                        <img src="@image3" alt="Patti Smith">
                    </div>
                    <div class="team-info">
                        <h4>@name3</h4><span class="serif">@desc3</span>
                        <p></p>
                        <ul class="team-social"></ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-member round-thumb">
                    <div class="team-image">
                        <img src="@image4" alt="Mick Jagger">
                    </div>
                    <div class="team-info">
                        <h4>@name4</h4><span class="serif">@desc4</span>
                        <p></p>
                        <ul class="team-social"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>