

@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;

    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string image = string.IsNullOrEmpty(Model.dataList.SingleOrDefault(x => x.title == "img_image").title2) ? "" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image").title2;

    string imageClass = Model.dataList.SingleOrDefault(x => x.title == "imageClass") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "imageClass").title2;

    string btnText = Model.dataList.SingleOrDefault(x => x.title == "buttonText") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "buttonText").title2;
    string btnClass = Model.dataList.SingleOrDefault(x => x.title == "buttonClass") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "buttonClass").title2;
    string btnLink = Model.dataList.SingleOrDefault(x => x.title == "buttonLink") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "buttonLink").title2;
    string html_description = Model.dataList.SingleOrDefault(x => x.title == "html_description") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "html_description").title2;
    string html_title = Model.dataList.SingleOrDefault(x => x.title == "html_title") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "html_title").title2;



}
<div style="@style">
    @if (!string.IsNullOrEmpty(image))
    {
        <img class="@imageClass.Replace(",", " ") imageDetail" src="@image" />
    }
    @if (!string.IsNullOrEmpty(html_title))
    {
        <div class="titleParent ">@Html.Raw(html_title)</div>
    }
    @if (!string.IsNullOrEmpty(html_description))
    {
        <div>@Html.Raw(html_description)</div>
    }
    @if (!string.IsNullOrEmpty(btnText))
    {
<a class="btn @btnClass.Replace(",", " ") btn-lg page-scroll wow fadeInUp" href="@btnLink"> @Html.Raw(@btnText)</a>

    }
</div>