@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string image = Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 : "/webAssets/NAGHAVI/images/lawyer.png";
    string signiture = Model.dataList.SingleOrDefault(x => x.title == "signiture").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "signiture").title2 : "/webAssets/NAGHAVI/images/signature.png";

    string header = Model.dataList.SingleOrDefault(x => x.title == "header").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "header").title2 : "Your attorney partner.";
    string title = Model.dataList.SingleOrDefault(x => x.title == "title").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "title").title2 : "Decades of Experience in the Field.";
    string html_description = Model.dataList.SingleOrDefault(x => x.title == "html_description").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "html_description").title2 : "<p class='font-16 serif'>Tenetur ad, provident laudantium sint suscipit quis labore totam magnam, maxime perferendis et ea amet quas harum a. Officiis saepe.</p>< p class='font-16 serif'>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Ducimus ab assumenda earum omnis, cupiditate natus odit nobis provident deleniti ut.Adipisci aut sed dolor veniam consectetur eius accusantium non atque!</p>";




}



<section class="pb-0">
    <div class="container">
        <div class="col-sm-12 col-md-5 hidden-sm hidden-xs">
            <figure class="text-center">
                <img src="@image" alt="">
            </figure>
        </div>
        <div class="col-sm-12 col-md-offset-1 col-md-6">
            <div class="title">
                <h4 class="cursive gold-text">@header</h4>
                <h2 class="serif font-variant-small-caps">@title</h2>
            </div>
            <div class="section-content mb-25">
                @Html.Raw(html_description)
            </div>
            <figure>
                <img class="signature-img" src="@signiture" alt="">
            </figure>
        </div>
    </div>
</section>
