@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
@{

    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string image1 = Model.dataList.SingleOrDefault(x => x.title == "img_image1").title2 == "" ? "webAssets/irha/images/update-17-06-2023/resources/about-eight-img-1.jpg" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image1").title2;
    string image2 = Model.dataList.SingleOrDefault(x => x.title == "img_image2").title2 == "" ? "webAssets/irha/images/update-17-06-2023/resources/about-eight-img-2.jpg" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image2").title2;
    string image3 = Model.dataList.SingleOrDefault(x => x.title == "img_image3").title2 == "" ? "webAssets/irha/images/update-17-06-2023/resources/about-eight-img-3.png" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image3").title2;
    string image4 = Model.dataList.SingleOrDefault(x => x.title == "img_image4").title2 == "" ? "webAssets/irha/images/update-17-06-2023/resources/about-eight-img-4.png" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image4").title2;
    string image5 = Model.dataList.SingleOrDefault(x => x.title == "img_image5").title2 == "" ? "/webAssets/irha/images/update-17-06-2023/shapes/about-eight-experience-shape-1.png" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image5").title2;

    string aboutTitle = Model.dataList.SingleOrDefault(x => x.title == "aboutTitle").title2 == "" ? "عنوان موضوع" : Model.dataList.SingleOrDefault(x => x.title == "aboutTitle").title2;
    string title = Model.dataList.SingleOrDefault(x => x.title == "title").title2 == "" ? "ارائه دهنده بهترین خدمات" : Model.dataList.SingleOrDefault(x => x.title == "title").title2;
    string description = Model.dataList.SingleOrDefault(x => x.title == "description").title2 == "" ? "توضیحاتی در مورد شرکت که میتواند منجر به شناخت بهتر شود" : Model.dataList.SingleOrDefault(x => x.title == "title").title2;
    string titr1 = Model.dataList.SingleOrDefault(x => x.title == "titr1").title2 == "" ? "توضیحاتی در" : Model.dataList.SingleOrDefault(x => x.title == "titr1").title2;
    string titr2 = Model.dataList.SingleOrDefault(x => x.title == "titr2").title2 == "" ? "توضیحاتی در " : Model.dataList.SingleOrDefault(x => x.title == "titr2").title2;
    string titr3 = Model.dataList.SingleOrDefault(x => x.title == "titr3").title2 == "" ? "توضیحاتی در " : Model.dataList.SingleOrDefault(x => x.title == "titr3").title2;
    string url = Model.dataList.SingleOrDefault(x => x.title == "url").title2 == "" ? "توضیحاتی در " : Model.dataList.SingleOrDefault(x => x.title == "url").title2;



}



<section class="about-eight">
    <div class="about-eight__img-three float-bob-x">
        <img src="@image3" alt="">
    </div>
    <div class="about-eight__img-four float-bob-y">
        <img src="@image4" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="about-eight__left">
                    <div class="about-eight__img-box">
                        <div class="about-eight__img">
                            <img src="@image1" alt="">
                        </div>
                        <div class="about-eight__img-two">
                            <img src="@image2" alt="">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="about-eight__right">
                    <div class="section-title-five text-right">
                        <span class="section-title-five__tagline">@aboutTitle </span>
                        <h2 class="section-title-five__title">
                            @title
                        </h2>
                    </div>
                    <p class="about-eight__text">
                        @description
                    </p>
                    <ul class="list-unstyled about-eight__service">
                        <li>
                            <div class="icon">
                                <span class="icon-insurance-2"></span>
                            </div>
                            <div class="text">
                                <p>@titr1</p>

                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-agreement"></span>
                            </div>
                            <div class="text">
                                <p>@titr2</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-cashback"></span>
                            </div>
                            <div class="text">
                                <p>@titr3</p>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-unstyled about-eight__points">
                        <li>

                        </li>
                        <li>

                        </li>
                    </ul>
                    <div class="about-eight__btn-box">
                        <a href="@url" class="about-eight__btn thm-btn-four">
                            جزئیات بیشتر<span class="fas fa-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
