
@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
@{
    
    string heading = Model.dataList.SingleOrDefault(x => x.title == "heading") == null ? "از این قسمت به عنوان هدر بخش مزیت ها استفاده میشود" : Model.dataList.SingleOrDefault(x => x.title == "heading").title2;

 


}

@Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_controllerModalParent.cshtml", Model)


<section class="services-seven" style="background-color:white;background-image: url(webAssets/irha/images/update-15-2-2024/shapes/service-bg.png);">
    <div class="container">
        <div class="section-title-five text-center">

            <h2 class="section-title-five__title">@heading</h2>
        </div>
        <div class="row">
            @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_childContent.cshtml", Model)


        </div>
    </div>
</section>
