@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
@{
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";

    string heading = Model.dataList.SingleOrDefault(x => x.title == "heading").title2 == "" ? "از این قسمت به عنوان هدر بخش مزیت ها استفاده میشود" : Model.dataList.SingleOrDefault(x => x.title == "heading").title2;

}

@Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_controllerModalParent.cshtml", Model)

<section class="services-five" style="margin-top:150px; background-color:white;">
    <div class="container">
        <div class="services-five__inner">
            <div class="section-title-three text-center">

                <h4 class="section-title-three__title" style="text-align:center">@heading</h4>
            </div>
            <div class="owl-carousel thm-owl__carousel--range owl-theme services-five__carousel"
                 data-owl-options='{"loop": false,
                 "nav" : false,
                 "autoWidth" : true,
                 "navText" : ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                    "dots": false,
                    "margin": 10,
                    "items": 1,
                    "smartSpeed": 700,
                    "responsive": {
                        "0": {
                            "margin": 30,
                            "items": 1,
                            "autoWidth": false
                        },
                        "768": {
                            "margin": 30,
                            "items": 2,
                            "autoWidth": false
                        },
                        "992": {
                            "margin": 30,
                            "items": 3
                        },
                        "1200": {
                            "margin": 30,
                            "items": 4
                        }
                    }}'>


                       @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_childContent.cshtml", Model)



                    </div>
            <div class="thm-owl__carousel--range__input">
                <input type="text" value="" name="range">
            </div>
        </div>
    </div>
</section>