
@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";


    string heading = Model.dataList.SingleOrDefault(x => x.title == "heading").title2 == "" ? "از این قسمت به عنوان هدر این بخش استفاده میشود" : Model.dataList.SingleOrDefault(x => x.title == "heading").title2;




}

@Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_controllerModalParent.cshtml", Model)

<section class="faq-one" style="@finalStyle">
    <div class="container" style="position:relative">
        <div class="row">
            <h4 style="text-align:center; padding:25px">@heading</h4>
            @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_childContent.cshtml", Model)

        </div>
    </div>
</section>
