@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string image = Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 == "" ? "webAssets/irha/images/update-10-02-2023/shapes/testimonial-five-shape-1.png" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image").title2;


    string heading = Model.dataList.SingleOrDefault(x => x.title == "heading").title2 == "" ? "از این قسمت به عنوان هدر این بخش استفاده میشود" : Model.dataList.SingleOrDefault(x => x.title == "heading").title2;




}
@if (Request.Cookies["adminToken"] != null)
{
    @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_controllerModalParent.cshtml", Model)
}
<section class="testimonial-five" style="@finalStyle">
    <div class="testimonial-five__shape-1">
    </div>
    <div class="container">
        <div class="section-title-three text-center">
            <div class="section-title-three__sub-title-box">

                <div class="section-title-three__shape"></div>
            </div>
            <h2 class="section-title-three__title">@heading</h2>
        </div>
        <div class="testimonial-five__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
             "loop" : true,
             "autoplay" : true,
             "margin" : 30,
             "nav" : false,
             "dots" : false,
             "smartSpeed" : 500,
             "autoplayTimeout" : 10000,
             "navText" : ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                    "responsive": {
                        "0": {
                            "items": 1
                        },
                        "768": {
                            "items": 2
                        },
                        "992": {
                            "items": 2
                        },
                        "1200": {
                            "items": 3
                        }
                    }
                }'>
            @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_childContent.cshtml", Model)

                </div>
    </div>
</section>
