  <!--News Seven Start-->

@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
@{

    string heading = Model.dataList.SingleOrDefault(x => x.title == "heading") == null ? "از این قسمت به عنوان هدر بخش   استفاده میشود" : Model.dataList.SingleOrDefault(x => x.title == "heading").title2;


}

@if (Request.Cookies["adminToken"] != null)
{
    @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_controllerModalParent.cshtml", Model)
}
<section class="news-seven" style="background-color:white">
    <div class="container">
        <div class="section-title-six text-center">
            <h4 class="section-title-six__title" style="font-size:28px; text-align:center">@heading</h4>
        </div>
        <div class="row gutter-y-30">
            @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_childContent.cshtml", Model)

        </div>
    </div>
</section>
<!--News Seven End-->