

@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";



}

@if (Request.Cookies["adminToken"] != null)
{
    @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_controllerModalParent.cshtml", Model)
}
<section class="testimonial-carousel-page">
    <div class="container">
        <div class="owl-carousel owl-theme thm-owl__carousel testimonial-carousel__box carousel-dot-style"
             data-owl-options='{
             "loop" : true,
             "autoplay" : true,
             "margin" : 30,
             "nav" : false,
             "dots" : true,
             "smartSpeed" : 500,
             "autoplayTimeout" : 10000,
             "navText" : ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                    "responsive": {
                        "0": {
                            "items": 1
                        },
                        "768": {
                            "items": 2
                        },
                        "992": {
                            "items": 2
                        },
                        "1200": {
                            "items": 2
                        }
                    }
                }'>
            @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_childContent.cshtml", Model)

                </div>
    </div>
</section>