  <!--Team Seven Start-->
@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
<!-- Intro Slider-->

@{
    string header1 = Model.dataList.SingleOrDefault(x => x.title == "header1").title2 == "" ? "عنوان قسمت مورد نظر وارد می شود" : Model.dataList.SingleOrDefault(x => x.title == "header1").title2;
    string header2 = Model.dataList.SingleOrDefault(x => x.title == "header2").title2 == "" ? "عنوان قسمت مورد نظر وارد می شود" : Model.dataList.SingleOrDefault(x => x.title == "header2").title2;
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string image = Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 == "" ? "/webAssets/green2/img/11.jpg" : baseImage + Model.dataList.SingleOrDefault(x => x.title.Contains("img_image")).title2;


}

@if (Request.Cookies["adminToken"] != null)
{
    @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_controllerModalParent.cshtml", Model)
}
<section class="team-seven">
    <div class="team-seven__bg" style="background-image: url(@image); "></div>
    <div class="container">
        <div class="section-title-six text-center">
            <span class="section-title-six__tagline">
                <span class="section-title-six__tagline__icon"><i class="insur-four-icon-check"></i></span>@header1
            </span>
            <h2 class="section-title-six__title" style="font-size:28px "> @header2<br></h2>
        </div>
        <div class="row gutter-y-30">
            @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_childContent.cshtml", Model)

        </div>
    </div>
</section>
<!--Team Seven End-->