@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
@{

    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";

    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    string header = Model.dataList.SingleOrDefault(x => x.title == "header").title2 == "" ? "هدر مرتبط با اسلایدر" : Model.dataList.SingleOrDefault(x => x.title == "header").title2;

}


@if (Request.Cookies["adminToken"] != null)
{
    @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_controllerModalParent.cshtml", Model)
}



<!--Testimonial Eight Start-->
<section class="testimonial-eight" style="background-color:white">
    <div class="container">
        <div class="section-title-six text-center">
            <h2 class="section-title-six__title" style="font-size:28px; text-align:center">@header</h2>
        </div>
        <div class="testimonial-eight__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
             "loop" : true,
             "autoplay" : true,
             "autoplayTimeout" : 7000,
             "margin" : 30,
             "nav" : false,
             "dots" : false,
             "smartSpeed" : 700,
             "navText" : ["<span class=\"icon-right-arrow\"></span>","<span class=\"icon-right-arrow1\"></span>"],
                        "responsive": {
                            "0": {
                                "items": 1
                            },
                            "992": {
                                "items": 2
                            }
                        }
                    }'>

            @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_childContent.cshtml", Model)


                </div>
    </div>
</section>
<!--Testimonial Eight End-->